.c44.outter
  display: flex
  justify-content: space-between
  align-content: center
  flex: 1
  flex-direction: column

.divider.c44
  display: none


.left.c44
  width: 100%
  padding-right: 0px
  //background: grey

.right.c44
  //background: teal
  width: 100%
  padding-left: 0px
  display: flex
  justify-content: flex-start
  flex-direction: column

span.class.c44
  margin-left: 25px

li.c44

p.c44
  margin-bottom: 25px
span.helper.c44
  +normal
  font-style: italic
  font-size: 10px
  color: $text
  margin-top: 20px
  display: block


.group.c44
  margin-bottom: 75px

img.large.c44
  margin-bottom: 35px

img.c44
  display: block
  margin: 40px auto

  &:first-of-type
    margin-top: 0px


h2.c44
  +bold
  color: $dark
  font-size: 16px
  line-height: 19px

h5.c44
  color: $dark
  font-size: 13px
  +bold
  //margin-bottom: 40px


span.quote.c44
  //background: #eaeaea
  display: block
  padding: 0px 40px
  +border-box
  color: $dark
  +bold
  font-size: 16px


@media (min-width: $breakpoint-desktop)
  .c44.outter
    flex-direction: row

  .left.c44
    width: 55%
    padding-right: 50px

  img.large.c44
    transform: scale(1.1) translateX(75px) translateY(-30px)
    //margin-bottom: 35px

  .right.c44
    width: 45%
    padding-left: 50px

  .divider.c44
    //flex: 1
    width: 1px
    //height: 100%
    background: $border
    display: block
