.c44.outter
  .left.c44
    .group.c44
      h2 Professional
        strong Healthcare Providers
      
      p.c44 Millions of people of all ages suffer from a condition described in the medical literature as maxillary hypoplasia and mandibular retrusion.
      p.c44 This all too common condition, where the upper and lower jaws do not fully develop often results in an obstructed or compromised pharyngeal airway.
      p.c44 Individuals who suffer from this condition may develop obstructive sleep apnea or sleep disordered breathing, causing them to periodically stop breathing during sleep.
      p.c44 Vivos is investing in ongoing clinical research and clinical trials to expand it's existing portfolio of therapeutic-grade biomimetic oral appliances for the treatment of maxillary hypoplasia and mandibular retrusion.
    .group.c44
      h2 Vivos Biomimetic
        strong Oral Appliance Therapy
      
      p.c44 Vivos Biomimetic oral appliance therapy is specifically designed to treat maxillary hypoplasia and mandibular retrusion. Vivos Therapeutics is registered with the Federal Drug Administration as a Specification Developer and to date has three medical devices registered:
      ul.c44
        li.c44 Vivos mRNA® Appliance
          span.class.c44 Class II
        li.c44 Vivos DNA® Appliance*
          span.class.c44 Class I
        li.c44 Vivos Guides
          span.class.c44 Class I
        span.helper.c44 *Class II Application Pending  
      img.large.c44(src="img/oral-appliance.png")
    .group.c44
      h2 Vivos Therapeutics
        strong Pneumopedics®
      
      p.c44 Vivos Biomimetic oral appliance therapy is specifically designed to treat maxillary hypoplasia and mandibular retrusion. Vivos Therapeutics is registered with the Federal Drug Administration as a Specification Developer and to date has three medical devices registered:
      
      img.c44(src="img/pre-airway.png")
      h5.c44(style="text-align: center") Three-Dimensional Model of The Airway (Pretreatment)
      img.c44(src="img/post-airway.png")
      h5.c44(style="text-align: center") Three-Dimensional Model of The Airway (Post Treatment)    
  .divider.c44
  .right.c44
    .group.c44
      img.c44(src="img/crooked.png")
      h2.c44(style="text-align: center") Maxillary Hypoplasia & Mandibular Retrusion
      p.c44 Maxillary hypoplasia and mandibular retrusion is a condition where the upper and lower jaws are underdeveloped and may result in an obstructed airway.
      p.c44 Some of the warning signs may, but do not necessarily include:
      ul.c44
        li.c44 Crooked Teeth
        li.c44 Mouth Breathing
        li.c44 Nasal Obstruction
        li.c44 Improper Tongue Alignment
        li.c44 Narrow Dental Arches
        li.c44 Obstructive Soft Palette Tissue
    .group.c44
      span.quote.c44 "In 98% of patients with OSAS, the condition is due to abnormal anatomical features of the soft tissues and/or the structures of the maxillomandibular skeleton that cause a disproportionate anatomy of the airway.*"
        span.helper.c44 ARCH OTOLARYNGOL HEAD NECK SURG/VOL 137 (NO. 10), OCT 2011
    .group.c44
      h2.c44(style="text-align: center") Correcting Maxillary Hypoplasia & Mandibular Retrusion
      img.c44(src="img/crooked.png")
      p.c44 The clinical goal of treating maxillary hypoplasia and mandibular retrusion is correcting the maxillomandibular skeletal and tissue structures to eliminate or reduce the obstruction of the airway.
      h5.c44 Some of the treatment outcomes may include:
      ul.c44
        li.c44 Straight Teeth
        li.c44 Reduce or Eliminate Mouth Breathing
        li.c44 Reduce or Eliminate Nasal Obstruction
        li.c44 Allow for Proper Tongue Position
        li.c44 Reduce or Eliminate Obstructive Soft Palette Tissue
        li.c44 Enhance Airway Volume and Function
        li.c44 Reduce Pharyngeal Nocturnal Airway Collapse
      p.c44 The Vivos Therapeutic approach is an safe, non-invasive approach to treating maxillary hypoplasia and mandibular retrusion.
