header.c38
  //height: 300px
  //background: grey
  //margin-top: 80px
  padding: 0px 0px
  padding-top: 35px
  +border-box


.container.c38
  //background: grey
  display: flex
  flex-direction: column-reverse

.inner.c38
  //background: red
  width: 100%
  padding: 0 45px
  +border-box
  padding-left: 0px

@media (min-width: $breakpoint-desktop)
  .container.c38
    flex-direction: row
  .inner.c38
    width: 50%
  header.c38
    padding: 80px 0px
