a.btn
  background: #465d6c
  color: white
  text-decoration: none
  padding: 10px 25px
  border-radius: 4px
  font-size: 11px
  text-transform: uppercase
  +bold
  +background
  &:hover
    background: darken(#465d6c, 20%)

  &.green
    background: $green
    font-size: 14px

    &:hover
      background: darken($green, 20%)
