
<head>
  <!-- Page title-->
  <title></title>
  <!-- Meta tags-->
  <meta charset="UTF-8"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, minimum-scale=1" user-scalable="no"/>
  <link rel="icon" href="img/favicon.png"/>
  <!-- Stylesheets-->
  <!-- Referenced Styles-->
  <link rel="stylesheet" href="components/c8-hero-slider/swiper.min.css"/>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous"/>
  <link rel="stylesheet" href="main.css"/>
  <!-- Javascript-->
  <script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
  <!--script(src="js/barba.min.js")-->
</head>