// Mixins

// Basic Mixins
@mixin font
  font-family: $font

@mixin font-thin
  font-family: $font-thin

@mixin icon
  font-family: $icon

@mixin border-box
  box-sizing: border-box

@mixin border
  border: 1px solid $border

@mixin test
  border: 1px solid #0fe4d8
  min-height: 100px

@mixin box-shadow
  box-shadow: 0 0 3px 0 rgba(0,0,0,0.22)

@mixin background-fill
  background-position: center center
  background-repeat: no-repeat
  background-size: cover



// typography mixins
@mixin thin
  +font-thin
  font-weight: 200

@mixin light
  font-weight: 300

@mixin normal
  font-weight: 400

@mixin semi-bold
  font-weight: 600

@mixin bold
  font-weight: 700

@mixin x-bold
  font-weight: 800



// Flex Mixins
@mixin flex-center
  display: flex
  align-items: center
  justify-content: center

@mixin center-left
  display: flex
  justify-content: flex-start
  align-items: center

@mixin left-left
  display: flex
  justify-content: flex-start
  align-items: center




// Transitions
@mixin opacity
  transition: opacity 200ms ease-out

@mixin background
  transition: background-color 200ms ease-out, border-color 200ms ease-out

@mixin zoom
  transition: transform 500ms ease

@mixin FontColor
  transition: color 200ms cubic-bezier(.645, .045, .355, 1)

@mixin backgroundFade
  transition: background-color 200ms cubic-bezier(.645, .045, .355, 1)

@mixin all
  transition: all 400ms cubic-bezier(.645, .045, .355, 1)
