// Basic Typography

p
  color: $text
  font-size: 13px
  font-weight: 400
  line-height: 16px


h1
  font-size: 48px
  line-height: 65px
  font-weight: 400
  color: $dark

h2
  font-size: 25px
  line-height: 25px
  font-weight: 300
  letter-spacing: -1px
  margin: 0px 0px
  margin-bottom: 20px
  color: $dark

  strong
    display: block
    +bold




h3
  font-size: 18px
  line-height: 18px
  letter-spacing: -1px
  font-weight: 700
  color: $dark
  margin-bottom: 15px


h4
  font-size: 18px
  color: $dark
  +bold
  letter-spacing: -1px
  line-height: 25px
  margin-top: 0px
  margin-bottom: 20px


h5
  font-size: 14px
  line-height: 22px
  +bold
  color: $dark
  margin-bottom: 0px


h6
  font-size: 16px
  line-height: 21px
  font-weight: 500
  color: $dark


p.mini
  font-size: 13px
  +normal
  color: $dark



ul
  color: $text
  font-size: 13px
  line-height: 16px



@media (min-width: $breakpoint-desktop)
  h3
    font-size: 25px
    line-height: 25px
