.split-ouuter.c37
  //background: red
  display: flex
  align-items: flex-start
  flex-direction: column



.small.c37
  flex: 1
  margin-bottom: 30px

.large.c37
  width: 100%
  //transform: scale(1.3)
  margin-bottom: 30px


@media (min-width: $breakpoint-desktop)
  .split-ouuter.c37
    flex-direction: row

  .large.c37
    width: 70%
