.split-ouuter.c37
  .small.c37
    h2 Operatory
      strong Technology Management
    p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis lorem odio, suscipit vitae consectetur sit amet, efficitur et ipsum. Suspendisse mollis elit quis consequat imperdiet. Mauris mattis quam bibendum dui mattis, in porta est tempor. Praesent non metus ullamcorper, lacinia.
  .large.c37
    img.float(src="img/digital-tech-sm.png")
