header.c18
  background-color: $border
  background-position: center center
  background-repeat: no-repeat
  background-size: cover
  width: 100%
  height: 250px
  margin-top: 100px


.overlay.c18
  width: 100%
  height: 100%
  //background: rgba(0,0,0,.25)

.container.c18
  

h1.c18
  +light
  color: white
  margin: 0px

p.c18
  color: white


@media (min-width: $breakpoint-desktop)
  header.c18
    height: 650px
    margin-top: 80px
