
<header class="c18">
  <div class="overlay c18">
    <div class="container c18">
      <h1 class="c18">Page Title</h1>
      <p class="c18">Description of what is going to be on the page.</p>
    </div>
  </div>
</header>