.table-outter.c16
  overflow-x: auto

table.c16
  width: 100%
  border-collapse: collapse
  border-spacing: 0
  border: 1px solid $border

tr.c16
  border: none
  margin: 0
  color: $text

  &:first-child
    background: $light-grey

th.c16
  padding: 20px 0px
  border: 1px solid $border

td.c16
  padding: 20px 10px
  text-align: center
  color: $text
  font-size:
  border: 1px solid $border

  &:first-child
    color: $dark
    +semi-bold
