// Main Sass File

// Global Styles
@import 'global/fonts.sass'
@import 'global/vars.sass'
@import 'global/colors.sass'
@import 'global/mixins.sass'
@import 'global/buttons.sass'
@import 'global/typography.sass'

html

body
  +font
  +border-box
  margin: 0px
  padding: 0px
  //padding-top: 110px
  background: $light-grey
  padding-top: 80px
  overflow-x: hidden

.container
  max-width: 100%
  margin: 0 auto
  padding: 0px 20px

img
  max-width: 100%



section, main
  padding: 50px 0px

  &.company
    border-top: 1px solid $border

@media (min-width: $breakpoint-tablet)
  .container
    width: 100%
    max-width: 700px
    //background: red

  img
    margin: 0 auto
    display: block


@media (min-width: $breakpoint-desktop)
  section
    &.company
      transform: translateY(-100px)

  .container
    max-width: 1020px
    padding: 0px 0px

// Basic Components
@import 'components/c3-back-to-top/c3.sass'
@import 'components/c4-full-width/c4.sass'
@import 'components/c5-two-column/c5.sass'
@import 'components/c6-three-column/c6.sass'
@import 'components/c7-four-column/c7.sass'
@import 'components/c23-spacer/c23.sass'
@import 'components/c24-divider/c24.sass'
@import 'components/c28-six-col/c28.sass'
@import 'components/c37-split/c37.sass'



// Site Custom Components
@import 'components/c1-nav/c1.sass'
@import 'components/c2-footer/c2.sass'
@import 'components/c8-hero-slider/c8.sass'
@import 'components/c9-content-slider/c9.sass'
@import 'components/c13-modal/c13.sass'
@import 'components/c14-cards/c14.sass'
@import 'components/c18-header/c18.sass'
@import 'components/c27-sub-links/c27.sass'
@import 'components/c29-testimonial-slider/c29.sass'
@import 'components/c30-wellness-items/c30.sass'
@import 'components/c31-mini-p/c31.sass'
@import 'components/c32-content-slider/c32.sass'
@import 'components/c33-circle/c33.sass'
@import 'components/c34-line/c34.sass'
@import 'components/c35-large-transform/c35.sass'
@import 'components/c36-small-border/c36.sass'
@import 'components/c38-company-header/c38.sass'
@import 'components/c39-secondary-nav/c39.sass'
@import 'components/c40-team/c40.sass'
@import 'components/c41-sidebar-group/c41.sass'
@import 'components/c42-articles/c42.sass'
@import 'components/c43-fixed-top/c43.sass'
@import 'components/c44-diagram/c44.sass'
@import 'components/c45-article-solo/c45.sass'
@import 'components/c46-contact-member/c46.sass'
@import 'components/c47-large-quote/c47.sass'


// Unused Components
  @import 'components/c10-accordion/c10.sass'
  @import 'components/c11-dropdown/c11.sass'
  @import 'components/c12-lightbox/c12.sass'
  @import 'components/c15-overlay-cards/c15.sass'
  @import 'components/c16-table/c16.sass'
  @import 'components/c17-tabs/c17.sass
  @import 'components/c19-mega-menu/c19.sass'
  @import 'components/c20-tooltip/c20.sass'
  @import 'components/c21-inline-video/c21.sass'
  @import 'components/c22-video-background/c22.sass'
  @import 'components/c25-form-elements/c25.sass'
  @import 'components/c26-slide-menu/c26.sass'
