
<div class="form-outter c25">
  <form class="c25" id="makeAppointMent" method="" action="">
    <h2 class="c25">Personal Information</h2>
    <div class="form-group c25">
      <label class="c25" for="First_Name">First Name</label>
      <input class="c25" id="First_Name" type="text" placeholder="Enter First Name" name="First_Name"/>
      <label class="c25" for="Last_Name">Last Name:</label>
      <input class="c25" id="Last_Name" type="text" placeholder="Enter Last Name" name="Last_Name"/>
    </div>
    <div class="form-group c25">
      <label class="c25" for="Email">Email Address: </label>
      <input class="c25" id="Email" type="email" placeholder="Enter Email Address" name="Email"/>
    </div>
    <div class="form-group c25">
      <label class="c25" for="PhoneNum">Phone Number:</label>
      <input class="c25" id="PhoneNum" type="tel" placeholder="Enter Phone Number" name="PhoneNum"/>
    </div>
    <div class="form-group c25">
      <label class="c25" for="Message">What Do You Need To Come In For?:</label>
      <textarea class="c25" id="Message" name="message" placeholder="What Do You Need To Come In For?"></textarea>
    </div>
  </form>
</div>