h3.c25
  font-size: 18px
  color: $text
  margin: 0px

label.c25
  font-size: 14px
  color: $dark
  display: block
  margin-bottom: 5px

.form-group.c25
  //background: red
  margin: 2.5% 0px
  display: flex
  justify-content: space-between
  align-items: flex-start

.input-group.c25
  //background: blue
  margin:  0px  2.5%
  flex-grow: 1

input.c25
  height: 50px
  display: block
  width: 100%
  +border-box
  padding: 0px 10px
  +border
  border-radius: 2px
  outline: none
  font-size: 14px

textarea.c25
  +border-box
  padding: 15px
  width: 100%
  +border
  min-height: 150px
  border-radius: 2px
  outline: none
  font-size: 14px
