.form-outter.c25
  form.c25#makeAppointMent(method="" action="")
    h3.c25(style="text-align: center") Personal Information
    .form-group.c25
      .input-group.c25
        label.c25(for="First_Name") First Name:
        input.c25#First_Name(type="text" placeholder="Enter First Name" name="First_Name")
      .input-group.c25
        label.c25(for="Last_Name") Last Name:
        input.c25#Last_Name(type="text" placeholder="Enter Last Name" name="Last_Name")
    
    .form-group.c25
      .input-group.c25
        label.c25(for="Email") Email Address: 
        input.c25#Email(type="email" placeholder="Enter Email Address" name="Email")
      
    .form-group.c25
      .input-group.c25
        label.c25(for="PhoneNum") Phone Number:
        input.c25#PhoneNum(type="tel" placeholder="Enter Phone Number" name="PhoneNum")
      
    .form-group.c25
      .input-group.c25
        label.c25(for="Message") What Do You Need To Come In For?
        textarea.c25#Message(name="message" placeholder="What Do You Need To Come In For?")
    
    .form-group.c25
      .input-group.c25
        button.btn.c25(type="submit") Make Appointment
      
    
      
      
