.tabs-outter.c17
  margin: 50px 0px

.tab-header.c17
  overflow: hidden
  border: 1px solid $border
  background-color: $light-grey


.tab-trigger.c17
  background-color: inherit
  float: left
  border: none
  outline: none
  cursor: pointer
  padding: 14px 16px
  transition: 0.3s
  color: $text

  &:hover
    background-color: darken($light-grey, 10%)

  &.active.c17
    background: darken($light-grey, 10%)

.tab-content.c17
  display: none
  padding: 25px
  border: 1px solid $border
  border-top: none
