.tabs-outter.c17
  .tab-header.c17
    .tab-trigger.c17(onclick="tabFunction(event, 'one')") Link 1
    .tab-trigger.c17(onclick="tabFunction(event, 'two')") Link 2
    .tab-trigger.c17(onclick="tabFunction(event, 'three')") Link 3
  
  .tab-content.c17#one
    h2 Test
    p Nam ultricies interdum suscipit. Nulla ultrices varius lectus scelerisque dignissim. Vivamus sagittis pulvinar dictum. Ut vitae odio eu nisi rutrum aliquam. Curabitur commodo nisl mi, semper consequat purus porttitor in. Praesent consequat blandit sollicitudin. Donec convallis turpis eu felis malesuada scelerisque et sed lectus. Morbi eget tempor urna.

  .tab-content.c17#two
    h2 Test 2
    p Nam ultricies interdum suscipit. Nulla ultrices varius lectus scelerisque dignissim. Vivamus sagittis pulvinar dictum. Ut vitae odio eu nisi rutrum aliquam. Curabitur commodo nisl mi, semper consequat purus porttitor in. Praesent consequat blandit sollicitudin. Donec convallis turpis eu felis malesuada scelerisque et sed lectus. Morbi eget tempor urna.
  
  .tab-content.c17#three
    h2 Test 3
    p Nam ultricies interdum suscipit. Nulla ultrices varius lectus scelerisque dignissim. Vivamus sagittis pulvinar dictum. Ut vitae odio eu nisi rutrum aliquam. Curabitur commodo nisl mi, semper consequat purus porttitor in. Praesent consequat blandit sollicitudin. Donec convallis turpis eu felis malesuada scelerisque et sed lectus. Morbi eget tempor urna.
