.outter.c45
  .access.c45
    img.c45(src="img/article-thum-1.png")
    a.btn(href="#") Download
    span.cat.c45 Journal of Sleep Disorders & Therapy
  .info.c45
    h2.title.c45 A Novel Combined Protocol for the Resolution of Severe Obstructive Sleep Apnea
    
    h6.c45 Abstract
    
    p.c45 A 27-year-old woman was referred to our office for a dental assessment regarding temporomandibular joint pain. On initial screening, she was found to be at high risk for obstructive sleep apnea, and subsequently underwent polysomnography, which revealed an apnea-hypopnea index of 118 hr-1. Her condition was initially controlled with continuous positive airway pressure therapy, which she did not tolerate well.
    p.c45 Therefore, treatment proceeded with biomimetic oral appliance therapy. After 10 months of combined continuous positive airway pressure therapy and biomimetic oral appliance therapy, the apnea-hypopnea index fell to 1 hr-1 and obstructive sleep apnea could not be observed with or without the appliances in situ. We conclude that combined continuous positive airway pressure therapy and biomimetic oral appliance therapy might represent a potential cure of severe cases obstructive sleep apnea in certain patients.
  
  .more.c45
    span.c45.explore Explore scientific articles and publications
    a.btn(href="#") Explore
