

.outter.c45
  display: flex
  flex-direction: column
.access.c45
  //background: teal
  padding-right: 0px
  +flex-center
  flex-direction: column

.info.c45
  //background: tan
  padding: 50px 0px
  +border-box
  width: 100%
.more.c45
  //background: pink
  border-left: 1px solid $border
  padding-left: 25px
  display: flex
  align-items: flex-start
  flex-direction: column
  justify-content: flex-end

img.c45
  display: block
  margin-bottom: 25px
  border: 1px solid #eaeaea

span.cat.c45
  font-size: 10px
  +bold
  display: block
  margin-top: 25px
  color: $dark

h6.c45
  margin-bottom: 0px

span.c45.explore
  font-size: 13px
  line-height: 16px
  font-style: italic
  display: block
  margin-bottom: 15px
  color: $dark



@media (min-width: $breakpoint-desktop)
  .outter.c45
    flex-direction: row

  .access.c45
    padding-right: 20px
    justify-content: flex-start
    align-items: flex-start

  .info.c45
    //background: tan
    padding: 0 25px
    +border-box
    width: 65%

  img.c45
    margin-bottom: 65px
