
<div class="outter c31">
  <p class="mini c31">At Vivos, we believe that optimal clinical outcomes require interdependence and collaboration. We promote, cultivate, encourage and enable a fresh approach, which is inclusive and recognizes the benefit of a truly multidisciplinary approach to health and breathing wellness.</p>
  <p class="mini c31">We invest in programs to facilitate and help to the doctors in our network develop and cultivate meaningful collaborative relationships across the healthcare provider spectrum.</p>
</div>