.accordion-outter.c10
  .slab.c10
    button.accordion.c10 Frequently Asked Question?
    .panel.c10
      p.c10 Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas convallis venenatis nibh, id maximus nibh posuere vel. Mauris hendrerit sapien erat, quis dapibus lectus faucibus non. Aliquam id erat vitae massa pretium pretium non id nunc. Ut convallis mauris vel facilisis malesuada. Mauris eu nisi a justo eleifend pretium sed a sem. Duis in neque a mauris placerat fringilla nec vitae erat. Maecenas sodales pellentesque interdum.
  .slab.c10
    button.accordion.c10 Frequently Asked Question?
    .panel.c10
      p.c10 Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas convallis venenatis nibh, id maximus nibh posuere vel. Mauris hendrerit sapien erat, quis dapibus lectus faucibus non. Aliquam id erat vitae massa pretium pretium non id nunc. Ut convallis mauris vel facilisis malesuada. Mauris eu nisi a justo eleifend pretium sed a sem. Duis in neque a mauris placerat fringilla nec vitae erat. Maecenas sodales pellentesque interdum.
  .slab.c10
    button.accordion.c10 Frequently Asked Question?
    .panel.c10
      p.c10 Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas convallis venenatis nibh, id maximus nibh posuere vel. Mauris hendrerit sapien erat, quis dapibus lectus faucibus non. Aliquam id erat vitae massa pretium pretium non id nunc. Ut convallis mauris vel facilisis malesuada. Mauris eu nisi a justo eleifend pretium sed a sem. Duis in neque a mauris placerat fringilla nec vitae erat. Maecenas sodales pellentesque interdum.
  .slab.c10
    button.accordion.c10 Frequently Asked Question?
    .panel.c10
      p.c10 Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas convallis venenatis nibh, id maximus nibh posuere vel. Mauris hendrerit sapien erat, quis dapibus lectus faucibus non. Aliquam id erat vitae massa pretium pretium non id nunc. Ut convallis mauris vel facilisis malesuada. Mauris eu nisi a justo eleifend pretium sed a sem. Duis in neque a mauris placerat fringilla nec vitae erat. Maecenas sodales pellentesque interdum.
