.accordion-outter.c10
  margin: 50px 0px

.slab.c10
  margin: 10px 0px
button.accordion.c10
  background-color: #eee
  color: $text
  cursor: pointer
  padding: 18px
  width: 100%
  border: none
  text-align: left
  outline: none
  font-size: 15px
  transition: 0.4s
  border: 1px solid $border
  border-bottom: none

.active.c10, button.accordion.c10:hover
    background-color: #ccc


.panel.c10
  padding: 0 18px
  background-color: white
  max-height: 0
  overflow: hidden
  transition: max-height 0.2s ease-out
  border: 1px solid $border
  border-top: none
