include data-c32.pug
.outter.c32
  // Swiper
  .swiper-container.gallery-top.c32
    .swiper-wrapper.c32
      each item in slides
        .swiper-slide.main.c32(id=item.title)
          .video-block.c32.modal-trigger.c32(style="background-image:url(img/"+item.thumbnail+"")
            img.play-icon.c32(src="img/play-off.png")
          
          .content-block.c32
            h4.c32 #{item.heading}
            for j in item.details
              p.c32 #{j}
    

          
          

    
  .swiper-container.gallery-thumbs.c32
    .swiper-button-prev.swiper-button-white.c32
      i.fas.fa-chevron-left
    .swiper-wrapper.c32
      each item in slides
        .swiper-slide.thumb.c32(style="background-image:url(img/"+item.thumbnail+"")
          img.play-icon.c32(src="img/play-off.png")

      
    
    // Add Arrows
    .swiper-button-next.swiper-button-white.c32
      i.fas.fa-chevron-right


  // Video Modal
  .modal-outter.c32
    .modal.container.c32
      iframe(src="https://player.vimeo.com/video/278003960" width="640" height="360" frameborder="0" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen="")
