.outter.c32
  padding: 20px 0px
  //background: red

.swiper-container
  width: 100%

  margin-left: auto
  margin-right: auto
  //background: red
.swiper-slide
  background-size: cover
  background-position: center



.swiper-slide.main.c32
  //background: grey
  display: flex
  align-items: flex-start
  justify-content: flex-start
  flex-direction: column


.video-block.c32
  //height: 200px
  max-height: 350px
  width: 100%
  +background-fill
  position: relative
  cursor: pointer
  margin-bottom: 30px
  display: none
  &:hover
    img.play-icon.c32
      opacity: 1


  img.play-icon.c32
    position: absolute
    bottom: 10px
    right: 10px
    opacity: .6
    +opacity
    cursor: pointer


.content-block.c32
  //background: white
  flex: 1
  padding: 0
  +border-box
  padding-top: 0px
  padding-right: 0px
  height: 100
  //+flex-center
  flex-direction: column


h4.c32
  font-size: 18px
  color: $dark
  +bold
  letter-spacing: -1px
  line-height: 25px
  margin-top: 0px
  margin-bottom: 12px

p.c32
  +normal
  letter-spacing: normal
  font-size: 13px



.gallery-top
  //height: 80%
  width: 100%

.gallery-thumbs
  //height: 20%
  box-sizing: border-box
  padding: 10px 0




  .swiper-slide-thumb-active
    opacity: 1


.swiper-container.gallery-thumbs
  //background: #ccc
  height: 162px
  display: flex
  align-items: center
  justify-content: space-between
  margin-top: 55px
  display: none

  .swiper-wrapper
    //background: red
    height: 100%
    min-height: 162px
    max-height: 162px
    display: block
    //flex: 1
    padding: 0px
    display: flex
    align-items: center
    max-width: 950px
    z-index: 799
    position: relative


    .swiper-slide.thumb.c32
      width: 162px !important
      height: 162px
      max-height: 162px
      opacity: 1

      //z-index: 800
      position: relative
      margin: 0 1.2%
      +background-fill
      cursor: pointer
      +opacity

      &:first-of-type
        margin-left: 0px

      &:hover
        img.play-icon.c32
          opacity: 1


      img.play-icon.c32
        position: absolute
        bottom: 10px
        right: 10px
        opacity: .6
        +opacity


.swiper-button-prev.swiper-button-white,.swiper-button-next.swiper-button-white
  background: #f6f6f6
  z-index: 800
  display: flex
  align-items: center
  position: relative
  width: 35px !important
  height: 162px
  margin-top: 0px
  top: 0
  outline: none

  &:hover
    i
      color: $dark

  i
    font-size: 16px
    color: $text




.swiper-button-prev.swiper-button-white
  left: 0
  justify-content: flex-start

.swiper-button-next.swiper-button-white
  right: 0
  justify-content: flex-end



.modal-outter.c32
  width: 100vw
  height: 100vh
  position: fixed
  top: 0
  z-index: 999
  background: rgba(0,0,0,0.8)
  padding-top: 20%
  left: 0
  right: 0
  overflow-y: scroll
  overflow-x: hidden
  display: block
  display: none


.modal.container.c32
  //background: white
  padding: 25px
  +border-box
  //max-width: 80vw
  //border-top-right-radius: 20px
  position: relative
  +flex-center


.modal-trigger.c32
  cursor: pointer


@media (min-width: $breakpoint-desktop)
  .outter.c32
    padding: 50px 0px
  .modal-outter.c32
    padding-top: 07%
  .modal.container.c32
    //max-width: 800px
  .swiper-slide.main.c32
    flex-direction: row

  .swiper-container
    height: 350px

  .video-block.c32
    width: 60%
    height: 100%
    display: block

  .content-block.c32
    padding: 2% 5%

  .swiper-container.gallery-thumbs
    display: flex
    height: 162px
