-
  var services = [
    {
      image: "cleaning.jpg",
      title: "Cleaning",
    } ,
    {
      image: "whitening.jpg",
      title: "Whitening",
    } ,
    {
      image: "crowns.jpg",
      title: "Crowns",
    } ,
    {
      image: "root-canal.jpg",
      title: "Root-Canals",
    } ,
    {
      image: "braces.jpg",
      title: "Braces",
    } ,
    {
      image: "inlay.jpg",
      title: "Inlay/Onlays",
    } ,
    {
      image: "veneers.jpg",
      title: "Veneers",
    } ,
    {
      image: "dentures.jpg",
      title: "Dentures",
    } ,
    {
      image: "implants.jpg",
      title: "Implants",
    } ,
    {
      image: "x-ray.jpg",
      title: "X-Rays",
    } ,
    {
      image: "invisalign.jpg",
      title: "Invisalign",
    } ,
    {
      image: "vivos.jpg",
      title: "Vivos Theraputics",
    } ,
    
  ];


.content-slider.c9
  .swiper-container.c9
    .swiper-wrapper.c9
      each service in services
        .swiper-slide.c9
          a.slide-link.c9(href="#" style="background-image: url(img/"+service.image+")")

            .overlay.c9
              span.c9 #{service.title}

    
    
    
  // Add Arrows
  .swiper-button-next.c9
    i.fas.fa-chevron-right
  .swiper-button-prev.c9
    i.fas.fa-chevron-left

    
