.content-slider.c9
  margin: 50px 0px
  position: relative

.swiper-container.c9
  width: 100%
  height: 100%
  max-width: 1000px
  //background: blue

.swiper-wrapper.c9
  //background: red
  //max-width: 1000px
  margin: 0 auto
  +flex-center
  justify-content: flex-start
  //overflow: hidden



.swiper-slide.c9
  height: 300px

a.slide-link.c9
  width: 100%
  height: 100%
  display: block
  background-color: $light-grey
  background-size: cover
  background-repeat: no-repeat
  background-position: center center
  text-decoration: none

span.c9
  color: white
  +semi-bold
  transform: translateY(100px)
  +zoom

.overlay.c9
  background: linear-gradient(to bottom, rgba(0,0,0,0)0%, rgba(0,0,0,0.35) 100%)
  width: 100%
  height: 100%
  +flex-center
  +all
  +zoom

  &:hover
    background: rgba(33,200,205,.80)

    span.c9
      transform: translateY(0px)



.swiper-button-next.c9, .swiper-button-prev.c9
  width: 50px
  height: 64px
  background: rgba(0,0,0,0.4)
  z-index: 100
  position: absolute
  top: 50%
  display: flex
  align-items: center
  justify-content: center
  +opacity
  cursor: pointer
  outline: none
  //background: red

  &:hover
    background: rgba(0,0,0,0.8)

  i
    color: white


.swiper-button-next.c9
  right: 0





.swiper-button-prev.c9
  left: 0

.swiper-pagination.c9
  margin-top: 50px
