.nav-outter.c39
  //background: blue
  width: 100%
  padding: 0 0px
  +border-box
  padding-right: 0px



nav.c39
  //background: white
  display: flex
  padding: 0px
  display: none

.heading.c39
  border-right: 1px solid $border
  padding-right: 25px
  padding-bottom: 20px

h4.c39
  margin: 0px


ul.c39
  //background: whitesmoke
  list-style: none
  display: flex
  flex-wrap: wrap
  padding: 0px 20px
  margin-bottom: 30px
  margin-top: 0px
  padding-top: 0px

li.c39
  display: block
  //background: green
  width: 50%

a.c39
  font-size: 11px
  line-height: 15px
  color: $dark
  text-decoration: none

  &:hover
    color: $teal





@media (min-width: $breakpoint-desktop)
  .nav-outter.c39
    display: block
    width: 50%
    padding: 0 25px

  nav.c39
    display: flex
