.nav-outter.c39
  nav.c39
    .heading.c39
      h4.c39 Explore
    .links.c39
      ul.c39
        li.c39
          a.c39(href="#") Corporate Information
        li.c39
          a.c39(href="#") Corporate Information
        li.c39
          a.c39(href="#") Corporate Information
        li.c39
          a.c39(href="#") Corporate Information
        li.c39
          a.c39(href="#") Corporate Information
        li.c39
          a.c39(href="#") Corporate Information
        li.c39
          a.c39(href="#") Corporate Information
        li.c39
          a.c39(href="#") Corporate Information
        li.c39
          a.c39(href="#") Corporate Information
        li.c39
          a.c39(href="#") Corporate Information
        li.c39
          a.c39(href="#") Corporate Information
  include ../c47-large-quote/c47.pug
