
<div class="nav-outter c38">
  <nav class="c38">
    <div class="heading c38">
      <h4 class="c38">Explore</h4>
    </div>
    <div class="links c38">
      <ul class="c38">
        <li class="c38"><a class="c38" href="#">Corporate Information</a></li>
        <li class="c38"><a class="c38" href="#">Corporate Information</a></li>
        <li class="c38"><a class="c38" href="#">Corporate Information</a></li>
        <li class="c38"><a class="c38" href="#">Corporate Information</a></li>
        <li class="c38"><a class="c38" href="#">Corporate Information</a></li>
        <li class="c38"><a class="c38" href="#">Corporate Information</a></li>
        <li class="c38"><a class="c38" href="#">Corporate Information</a></li>
        <li class="c38"><a class="c38" href="#">Corporate Information</a></li>
        <li class="c38"><a class="c38" href="#">Corporate Information</a></li>
        <li class="c38"><a class="c38" href="#">Corporate Information</a></li>
        <li class="c38"><a class="c38" href="#">Corporate Information</a></li>
      </ul>
    </div>
  </nav>
  <div class="large-quote c38"><img class="v c38" src="img/vivos-small-logo.png"/>
    <h6 class="c38">Ethics is knowing the difference between what you have a right to do and what is right to do.</h6><span class="c38">Potter Stewart</span>
  </div>
</div>