
<div class="call-to-action c2">
  <div class="container">
    <p style="text-align: center; color: white;">If you suspect that you or someone you love is suffering from a breathing wellness condition, take this self-assessment:</p><a class="btn" href="#">Begin</a>
  </div>
</div>