.call-to-action.c2
  .container
    p.desktop.c2 If you suspect that you or someone you love is suffering from a breathing wellness condition, take this self-assessment:
    p.mobile.c2 Breathing Wellness Assessment
    
    a.btn.green(href="#") Begin
    

footer.c2
  .container.footer.c2
    
    .footer-link-group.c2
      ul.c2
        h3.c2 Healthcare
          strong Professionals
        
        li.c2
          a.c2.footer-link(href="#") General Dentist
        li.c2
          a.c2.footer-link(href="#") Integrated Practice Program
        li.c2
          a.c2.footer-link(href="#" target="_blank") Provider Login

    
      ul.c2
        h3.c2 About Our
          strong Company
        .outter.c2
          .inner.c2
            li.c2
              a.c2.footer-link(href="corporate-information.html") Corporate Information
            li.c2
              a.c2.footer-link(href="leadership.html") Leadership
            li.c2
              a.c2.footer-link(href="investor-relations.html") Investor Relations
            li.c2
              a.c2.footer-link(href="ethics-and-governance.html") Ethics & Corporate Governance
            li.c2
              a.c2.footer-link(href="corporate-citizenship.html") Corporate Citizenship
            li.c2
              a.c2.footer-link(href="media-inquiries.html") Media Inquiries
            li.c2
              a.c2.footer-link(href="wellness-programs.html") Corporate Wellness
          
          .inner.c2
            li.c2
              a.c2.footer-link(href="partners.html") Partners
            li.c2
              a.c2.footer-link(href="culture-and-values.html") Culture & Values
            li.c2
              a.c2.footer-link(href="global-network.html") Global Network
            li.c2
              a.c2.footer-link(href="breathing-wellness-institute.html") Breathing Wellness Institute
            li.c2
              a.c2.footer-link(href="articles.html") Articles & Publications
            li.c2
              a.c2.footer-link(href="contact-us.html") Contact Us
    a.home.c2(href="index.html")
      img(src="img/vivos-logo-footer.png")
  
  .container
    .copyright.c2
      span.cr.c2 © 2019 Vivos Therapeutics, Inc.  ALL RIGHTS RESERVED
      
      ul.social-links
        li.sl
          a(href="#" target="_blank")
            i.fab.fa-facebook
        li.sl
          a(href="#" target="_blank")
            i.fab.fa-linkedin
        li.sl
          a(href="#" target="_blank")
            i.fab.fa-instagram
        li.sl
          a(href="#" target="_blank")
            i.fab.fa-twitter
        li.sl
          a.contact.c2(href="#") Contact Us
            span 866-908-4867
    
    
    
    
    .privacy-policy All content found on the vivoslife.com website, including text, images, audio, or other formats were created for informational purposes only. The content of this website is not intended to be a substitute for professional medical advice, diagnosis, or treatment. Always seek the advice of your physician or other qualified health provider with any questions you may have regarding a medical condition. Never disregard professional medical advice or delay in seeking it because of something you have read on this website. Individual results may vary. Nothing contained in this website infers or creates a warranty, promise, or guarantee of any kind with respect to the clinical outcome or result from treatment using the Vivos technology. The use of the Vivos technologies by any patient must always occur under the direction and supervision of a qualified, trained, and licensed dentist, physician or other qualified health provider, working in close collaboration with qualified medical personnel.


        
      
    
