.call-to-action.c2
  background: #2b4151
  padding: 15px 0px

  .container
    display: flex
    align-items: center
    justify-content: center

p.desktop.c2, p.mobile.c2
  color: white
  margin-right: 15px

p.desktop.c2
  display: none
  text-align: center


p.mobile.c2
  display: block

footer.c2
  padding: 20px 0px

.footer-link-group.c2
  display: flex
  //background: red
  align-items: flex-start
  flex-wrap: wrap


.container.footer.c2
  display: flex
  justify-content: space-between
  align-items: flex-start
  //background: red
  flex-direction: column

ul.c2
  width: 100%
  display: block
  list-style: none
  padding: 0px
  padding-right: 0px


  //width: 25%
  //background: blue

  &:last-of-type
    //max-width: 25%
    flex: 1

.outter.c2
  display: flex
.inner.c2
  width: 50%
  //background: green
  &:first-of-type
  margin-left: 0px
  margin-right: 20px

li.c2
  display: block
  //background: yellow

h3.c2
  font-size: 14px
  +light
  line-height: 16px
  color: $dark
  padding-bottom: 15px
  border-bottom: 1px solid $border
  margin: 0px
  margin-bottom: 10px

  strong
    +bold
    font-size: 16px
    display: block

a.c2.footer-link
  color: $dark
  font-size: 11px
  +normal
  text-decoration: none

  &:hover
    color: $teal


.copyright.c2
  padding: 10px 0px
  border-top: 1px solid #e5e5e5
  border-bottom: 1px solid #e5e5e5
  display: flex
  align-items: center
  justify-content: space-between
  flex-wrap: wrap
  margin: 20px 0px
  padding-bottom: 0px

span.cr.c2
  color: $text
  font-size: 10px
  line-height: 12px

ul.social-links
  list-style: none
  color: $text
  padding: 0px
  display: flex
  align-items: center
  justify-content: center

li.sl
  padding: 0px 5px

  a
    font-size: 20px
    color: inherit

    &:hover
      color: $dark

  a.contact.c2
    font-size: 14px
    +light
    color: $dark
    text-decoration: none

    span
      display: block
      +bold
      font-size: 16px

.privacy-policy
  font-size: 10px
  color: #b6b6b6

a.home.c2
  //display: none

@media (min-width: $breakpoint-desktop)
  p.desktop.c2
    display: block
  p.mobile.c2
    display: none

  a.contact.c2
    //display: none

  ul.c2
    padding-right: 25px
    width: auto

  .copyright.c2
    padding: 0px 0px

  .container.footer.c2
    flex-direction: row

  footer.c2
    padding: 50px 0px
