a.c3.back-top
  width: 30px
  height: 30px
  border-radius: 50%
  +flex-center
  position: fixed
  bottom: 30px
  right: 30px
  z-index: 999
  background: red
  +background
  background: rgba(0,0,0,0.25)
  display: none

  &.visible
    display: flex

  &:hover
    background: rgba(0,0,0,0.75)

img.c3
  width: 12px
