
<div class="outter c32">
  <!-- Swiper-->
  <div class="swiper-container gallery-top c32">
    <div class="swiper-wrapper c32">
      <div class="swiper-slide main c32" id="1">
        <div class="video-block c32 modal-trigger c32" style="background-image:url(img/test-1.jpg"><img class="play-icon c32" src="img/play-off.png"/></div>
        <div class="content-block c32">
          <h4 class="c32">Better Outcomes for Patients &amp; Doctors</h4>
          <p class="c32">All around the world, individual doctors and dentists are collaborating to bring a new focus on the importance of breathing wellness.</p>
          <p class="c32">Inspired by the overall health benefits of breathing wellness and a desire to provide hope for the millions who suffer from impaired breathing, this group of healthcare providers are helping patients achieve health and wellness by taking a whole body approach and by leveraging collaboration across a variety of disciplines.Every individual case is unique.</p>
          <p class="c32">Every outcome is personal. At Vivos we are helping to cultivate an interconnected network of integrated healthcare providers to encourage this type of collaboration to achieve the best possible outcome for doctors and their patients.</p>
        </div>
      </div>
      <div class="swiper-slide main c32" id="2">
        <div class="video-block c32 modal-trigger c32" style="background-image:url(img/hayward.jpg"><img class="play-icon c32" src="img/play-off.png"/></div>
        <div class="content-block c32">
          <h4 class="c32">Better Outcomes for Patients &amp; Doctors</h4>
          <p class="c32">All around the world, individual doctors and dentists are collaborating to bring a new focus on the importance of breathing wellness.</p>
          <p class="c32">Inspired by the overall health benefits of breathing wellness and a desire to provide hope for the millions who suffer from impaired breathing, this group of healthcare providers are helping patients achieve health and wellness by taking a whole body approach and by leveraging collaboration across a variety of disciplines.</p>
          <p class="c32">Every individual case is unique. Every outcome is personal. At Vivos we are helping to cultivate an interconnected network of integrated healthcare providers to encourage this type of collaboration to achieve the best possible outcome for doctors and their patients.</p>
        </div>
      </div>
      <div class="swiper-slide main c32" id="1">
        <div class="video-block c32 modal-trigger c32" style="background-image:url(img/test-1.jpg"><img class="play-icon c32" src="img/play-off.png"/></div>
        <div class="content-block c32">
          <h4 class="c32">Better Outcomes for Patients &amp; Doctors</h4>
          <p class="c32">All around the world, individual doctors and dentists are collaborating to bring a new focus on the importance of breathing wellness.</p>
          <p class="c32">Inspired by the overall health benefits of breathing wellness and a desire to provide hope for the millions who suffer from impaired breathing, this group of healthcare providers are helping patients achieve health and wellness by taking a whole body approach and by leveraging collaboration across a variety of disciplines.</p>
          <p class="c32">Every individual case is unique. Every outcome is personal. At Vivos we are helping to cultivate an interconnected network of integrated healthcare providers to encourage this type of collaboration to achieve the best possible outcome for doctors and their patients.</p>
        </div>
      </div>
      <div class="swiper-slide main c32" id="2">
        <div class="video-block c32 modal-trigger c32" style="background-image:url(img/hayward.jpg"><img class="play-icon c32" src="img/play-off.png"/></div>
        <div class="content-block c32">
          <h4 class="c32">Better Outcomes for Patients &amp; Doctors</h4>
          <p class="c32">All around the world, individual doctors and dentists are collaborating to bring a new focus on the importance of breathing wellness.</p>
          <p class="c32">Inspired by the overall health benefits of breathing wellness and a desire to provide hope for the millions who suffer from impaired breathing, this group of healthcare providers are helping patients achieve health and wellness by taking a whole body approach and by leveraging collaboration across a variety of disciplines.</p>
          <p class="c32">Every individual case is unique. Every outcome is personal. At Vivos we are helping to cultivate an interconnected network of integrated healthcare providers to encourage this type of collaboration to achieve the best possible outcome for doctors and their patients.</p>
        </div>
      </div>
      <div class="swiper-slide main c32" id="1">
        <div class="video-block c32 modal-trigger c32" style="background-image:url(img/test-1.jpg"><img class="play-icon c32" src="img/play-off.png"/></div>
        <div class="content-block c32">
          <h4 class="c32">Better Outcomes for Patients &amp; Doctors</h4>
          <p class="c32">All around the world, individual doctors and dentists are collaborating to bring a new focus on the importance of breathing wellness.</p>
          <p class="c32">Inspired by the overall health benefits of breathing wellness and a desire to provide hope for the millions who suffer from impaired breathing, this group of healthcare providers are helping patients achieve health and wellness by taking a whole body approach and by leveraging collaboration across a variety of disciplines.</p>
          <p class="c32">Every individual case is unique. Every outcome is personal. At Vivos we are helping to cultivate an interconnected network of integrated healthcare providers to encourage this type of collaboration to achieve the best possible outcome for doctors and their patients.</p>
        </div>
      </div>
      <div class="swiper-slide main c32" id="1">
        <div class="video-block c32 modal-trigger c32" style="background-image:url(img/test-1.jpg"><img class="play-icon c32" src="img/play-off.png"/></div>
        <div class="content-block c32">
          <h4 class="c32">Better Outcomes for Patients &amp; Doctors</h4>
          <p class="c32">All around the world, individual doctors and dentists are collaborating to bring a new focus on the importance of breathing wellness.</p>
          <p class="c32">Inspired by the overall health benefits of breathing wellness and a desire to provide hope for the millions who suffer from impaired breathing, this group of healthcare providers are helping patients achieve health and wellness by taking a whole body approach and by leveraging collaboration across a variety of disciplines.</p>
          <p class="c32">Every individual case is unique. Every outcome is personal. At Vivos we are helping to cultivate an interconnected network of integrated healthcare providers to encourage this type of collaboration to achieve the best possible outcome for doctors and their patients.</p>
        </div>
      </div>
      <div class="swiper-slide main c32" id="2">
        <div class="video-block c32 modal-trigger c32" style="background-image:url(img/hayward.jpg"><img class="play-icon c32" src="img/play-off.png"/></div>
        <div class="content-block c32">
          <h4 class="c32">Better Outcomes for Patients &amp; Doctors</h4>
          <p class="c32">All around the world, individual doctors and dentists are collaborating to bring a new focus on the importance of breathing wellness.</p>
          <p class="c32">Inspired by the overall health benefits of breathing wellness and a desire to provide hope for the millions who suffer from impaired breathing, this group of healthcare providers are helping patients achieve health and wellness by taking a whole body approach and by leveraging collaboration across a variety of disciplines.</p>
          <p class="c32">Every individual case is unique. Every outcome is personal. At Vivos we are helping to cultivate an interconnected network of integrated healthcare providers to encourage this type of collaboration to achieve the best possible outcome for doctors and their patients.</p>
        </div>
      </div>
      <div class="swiper-slide main c32" id="1">
        <div class="video-block c32 modal-trigger c32" style="background-image:url(img/test-1.jpg"><img class="play-icon c32" src="img/play-off.png"/></div>
        <div class="content-block c32">
          <h4 class="c32">Better Outcomes for Patients &amp; Doctors</h4>
          <p class="c32">All around the world, individual doctors and dentists are collaborating to bring a new focus on the importance of breathing wellness.</p>
          <p class="c32">Inspired by the overall health benefits of breathing wellness and a desire to provide hope for the millions who suffer from impaired breathing, this group of healthcare providers are helping patients achieve health and wellness by taking a whole body approach and by leveraging collaboration across a variety of disciplines.</p>
          <p class="c32">Every individual case is unique. Every outcome is personal. At Vivos we are helping to cultivate an interconnected network of integrated healthcare providers to encourage this type of collaboration to achieve the best possible outcome for doctors and their patients.</p>
        </div>
      </div>
      <div class="swiper-slide main c32" id="2">
        <div class="video-block c32 modal-trigger c32" style="background-image:url(img/hayward.jpg"><img class="play-icon c32" src="img/play-off.png"/></div>
        <div class="content-block c32">
          <h4 class="c32">Better Outcomes for Patients &amp; Doctors</h4>
          <p class="c32">All around the world, individual doctors and dentists are collaborating to bring a new focus on the importance of breathing wellness.</p>
          <p class="c32">Inspired by the overall health benefits of breathing wellness and a desire to provide hope for the millions who suffer from impaired breathing, this group of healthcare providers are helping patients achieve health and wellness by taking a whole body approach and by leveraging collaboration across a variety of disciplines.</p>
          <p class="c32">Every individual case is unique. Every outcome is personal. At Vivos we are helping to cultivate an interconnected network of integrated healthcare providers to encourage this type of collaboration to achieve the best possible outcome for doctors and their patients.</p>
        </div>
      </div>
      <div class="swiper-slide main c32" id="1">
        <div class="video-block c32 modal-trigger c32" style="background-image:url(img/test-1.jpg"><img class="play-icon c32" src="img/play-off.png"/></div>
        <div class="content-block c32">
          <h4 class="c32">Better Outcomes for Patients &amp; Doctors</h4>
          <p class="c32">All around the world, individual doctors and dentists are collaborating to bring a new focus on the importance of breathing wellness.</p>
          <p class="c32">Inspired by the overall health benefits of breathing wellness and a desire to provide hope for the millions who suffer from impaired breathing, this group of healthcare providers are helping patients achieve health and wellness by taking a whole body approach and by leveraging collaboration across a variety of disciplines.</p>
          <p class="c32">Every individual case is unique. Every outcome is personal. At Vivos we are helping to cultivate an interconnected network of integrated healthcare providers to encourage this type of collaboration to achieve the best possible outcome for doctors and their patients.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="swiper-container gallery-thumbs c32">
    <div class="swiper-button-prev swiper-button-white c32"><i class="fas fa-chevron-left"></i></div>
    <div class="swiper-wrapper c32">
      <div class="swiper-slide thumb c32" style="background-image:url(img/test-1.jpg"><img class="play-icon c32" src="img/play-off.png"/></div>
      <div class="swiper-slide thumb c32" style="background-image:url(img/hayward.jpg"><img class="play-icon c32" src="img/play-off.png"/></div>
      <div class="swiper-slide thumb c32" style="background-image:url(img/test-1.jpg"><img class="play-icon c32" src="img/play-off.png"/></div>
      <div class="swiper-slide thumb c32" style="background-image:url(img/hayward.jpg"><img class="play-icon c32" src="img/play-off.png"/></div>
      <div class="swiper-slide thumb c32" style="background-image:url(img/test-1.jpg"><img class="play-icon c32" src="img/play-off.png"/></div>
      <div class="swiper-slide thumb c32" style="background-image:url(img/test-1.jpg"><img class="play-icon c32" src="img/play-off.png"/></div>
      <div class="swiper-slide thumb c32" style="background-image:url(img/hayward.jpg"><img class="play-icon c32" src="img/play-off.png"/></div>
      <div class="swiper-slide thumb c32" style="background-image:url(img/test-1.jpg"><img class="play-icon c32" src="img/play-off.png"/></div>
      <div class="swiper-slide thumb c32" style="background-image:url(img/hayward.jpg"><img class="play-icon c32" src="img/play-off.png"/></div>
      <div class="swiper-slide thumb c32" style="background-image:url(img/test-1.jpg"><img class="play-icon c32" src="img/play-off.png"/></div>
    </div>
    <!-- Add Arrows-->
    <div class="swiper-button-next swiper-button-white c32"><i class="fas fa-chevron-right"></i></div>
  </div>
  <!-- Video Modal-->
  <div class="modal-outter c32">
    <div class="modal container c32">
      <iframe src="https://player.vimeo.com/video/278003960" width="640" height="360" frameborder="0" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen=""></iframe>
    </div>
  </div>
</div>