.sidebar-group.c41
  //height: 400px
  display: flex
  flex-direction: column
  padding: 50px 0px

.sidebar.c41
  width: 100%


.content.c41
  //background: white
  flex: 1
  padding-left: 0px




span.c41
  display: block
  font-size: 13px
  color: $text

ul.c41
  padding-left: 20px

li.c41
  margin-bottom: 15px



@media (min-width: $breakpoint-desktop)
  .sidebar-group.c41
    flex-direction: row
  .sidebar.c41
    width: 20%
    //background: red
    margin-right: 25px
  .content.c41
    padding-left: 40px
    border-left: 1px solid $border

  ul.c41
    padding-left: 45px
