.outter.c42
  padding: 35px 0px
  display: flex
  flex-wrap: wrap
  justify-content: space-between

.article.c42
  background: white
  width: 100%
  margin: 1% 1%
  border-left: 8px solid $green
  //height: 250px
  margin-left: 0
  +border-box
  padding: 20px
  display: flex
  align-items: flex-start
  justify-content: flex-start
  flex-direction: column

img.c42
  border: 1px solid $border
  margin-right: 25px
  margin-bottom: 25px
  width: auto
  //height: 100%

span.c42
  display: block

.content.c42
  display: flex
  flex-direction: column
  align-items: flex-start
  justify-content: space-between
  height: 100%

span.name.c42
  color: $dark
  font-size: 14px
  line-height: 17px
  +bold
  margin-bottom: 10px

span.category.c42
  color: $dark
  font-size: 10px
  line-height: 10px
  +bold
  margin-bottom: 15px

.block.c42
  padding-bottom: 10px

@media (min-width: $breakpoint-tablet)
  img.c42
    margin: 0
    margin-bottom: 25px
    margin-right: 0px
  .content.c42
    justify-content: flex-start
    align-items: flex-start
  .article.c42
    width: 47%

@media (min-width: $breakpoint-desktop)
  .article.c42
    width: 47%
    flex-direction: row

  img.c42
    margin-bottom: 0px
