.outter.c42
  .article.c42
    img.c42(src="img/article-thum-1.png?")
    .content.c42
      span.name.c42  A Novel Combined Protocol for the Resolution of Severe Obstructive Sleep Apnea 
      .block.c42
        span.category.c42 Journal of Sleep Disorders & Therapy
        a.btn(href="#") Download
        
  .article.c42
    img.c42(src="img/article-thum-1.png?")
    .content.c42
      span.name.c42  A Novel Combined Protocol for the Resolution of Severe Obstructive Sleep Apnea 
      .block.c42
        span.category.c42 Journal of Sleep Disorders & Therapy
        a.btn(href="#") Download
        
  .article.c42
    img.c42(src="img/article-thum-1.png?")
    .content.c42
      span.name.c42  A Novel Combined Protocol for the Resolution of Severe Obstructive Sleep Apnea 
      .block.c42
        span.category.c42 Journal of Sleep Disorders & Therapy
        a.btn(href="#") Download
        
  .article.c42
    img.c42(src="img/article-thum-1.png?")
    .content.c42
      span.name.c42  A Novel Combined Protocol for the Resolution of Severe Obstructive Sleep Apnea 
      .block.c42
        span.category.c42 Journal of Sleep Disorders & Therapy
        a.btn(href="#") Download
