.overlay-cards-outter.c15
  display: flex
  flex-wrap: wrap
  align-items: center
  //justify-content: space-between
  +border-box
  padding: 0px 0px

a.card.c15
  width: 100%
  padding: 00px 0px
  +border-box
  //+teal
  //height: 100px
  margin: 2.5% 0px
  min-height: 150px
  background: white
  display: block
  // border-color: #f2f2f2
  +border
  border-color: #eaeaea
  background-repeat: no-repeat
  background-size: cover
  background-position: center center
  position: relative

.overlay.c15
  background: linear-gradient(to bottom, rgba(0,0,0,0)0%, rgba(0,0,0,0.35) 100%)
  width: 100%
  height: 100%
  +flex-center
  +all
  +zoom
  flex-direction: column
  position: absolute

  &:hover
    background: rgba(33,200,205,.80)

    h2.c15
      transform: translateY(0px)



  h2.c15
    color: white
    //+semi-bold
    transform: translateY(50px)
    +zoom



@media (min-width: $breakpoint-desktop)
  a.card.c15
    width: 22%
    margin: 1.5%
