-
  var services = [
    {
      image: "cleaning.jpg",
      title: "Cleaning",
      link: "service.html",
    } ,
    {
      image: "whitening.jpg",
      title: "Whitening",
      link: "service.html",
    } ,
    {
      image: "crowns.jpg",
      title: "Crowns",
      link: "service.html",
    } ,
    {
      image: "root-canal.jpg",
      title: "Root-Canals",
      link: "service.html",
    } ,
    {
      image: "braces.jpg",
      title: "Braces",
      link: "service.html",
    } ,
    {
      image: "inlay.jpg",
      title: "Inlay/Onlays",
      link: "service.html",
    } ,
    {
      image: "veneers.jpg",
      title: "Veneers",
      link: "service.html",
    } ,
    {
      image: "dentures.jpg",
      title: "Dentures",
      link: "service.html",
    } ,
    {
      image: "implants.jpg",
      title: "Implants",
      link: "service.html",
    } ,
    {
      image: "x-ray.jpg",
      title: "X-Rays",
      link: "service.html",
    } ,
    {
      image: "invisalign.jpg",
      title: "Invisalign",
      link: "service.html",
    } ,
    {
      image: "vivos.jpg",
      title: "Vivos Theraputics",
      link: "service.html",
    } ,
    
  ];


.overlay-cards-outter.c15
  each service in services
    // Card
    a.card.c15(style="background-image: url(img/"+service.image+")" href=service.link)
      .overlay.c15
        h2.c15 #{service.title}
    

      
