
<div class="outter c40"><a class="item c40" href="#"><img class="c40" src="img/kirk-hunstman-1.jpg" alt=""/><span class="name c40">R. Kirk Huntsman</span><span class="role c40">Chief Executive Officer</span></a></div>