.outter.c40
  padding: 25px 0px
  display: flex
  flex-wrap: wrap

a.item.c40
  display: flex
  align-items: flex-start
  justify-content: flex-start
  flex-direction: column
  text-decoration: none
  width: 48%
  //background: teal
  margin: 2%
  margin-left: 0
  margin-bottom: 6%

img.c40
  margin-bottom: 15px


span.name.c40
  color: $dark
  font-size: 13px
  +bold
  line-height: 18px
  margin-bottom: 5px
  display: block



span.role.c40
  font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif
  color: #7f7f7f
  font-size: 11px
  font-style: italic
  line-height: 15px
  display: block

p.c40

@media (min-width: $breakpoint-tablet)
  a.item.c40
    width: 31%
    align-items: center

@media (min-width: $breakpoint-desktop)
  a.item.c40
    width: 18%
    margin-bottom: 2%
