// Team
-
  var members = [
    {
      name: "R. Kirk Huntsman",
      role: "Chief Executive Officer",
      img: "kirk-hunstman-1.jpg",
      tag: "executive",
      link: "kirk-huntsman.html",
    } ,
    {
      name: "R. Kirk Huntsman",
      role: "Chief Executive Officer",
      img: "kirk-hunstman-1.jpg",
      tag: "executive",
      link: "#",
    } ,
    {
      name: "R. Kirk Huntsman",
      role: "Chief Executive Officer",
      img: "kirk-hunstman-1.jpg",
      tag: "executive",
      link: "#",
    } ,
    {
      name: "R. Kirk Huntsman",
      role: "Chief Executive Officer",
      img: "kirk-hunstman-1.jpg",
      tag: "executive",
      link: "#",
    } ,
    {
      name: "R. Kirk Huntsman",
      role: "Chief Executive Officer",
      img: "kirk-hunstman-1.jpg",
      tag: "executive",
      link: "#",
    } ,
    {
      name: "R. Kirk Huntsman",
      role: "Chief Executive Officer",
      img: "kirk-hunstman-1.jpg",
      tag: "executive",
      link: "#",
    } ,
    {
      name: "R. Kirk Huntsman",
      role: "Chief Executive Officer",
      img: "kirk-hunstman-1.jpg",
      tag: "executive",
      link: "#",
    } ,
    {
      name: "R. Kirk Huntsman",
      role: "Chief Executive Officer",
      img: "kirk-hunstman-1.jpg",
      tag: "executive",
      link: "#",
    } ,
    
    // Wellness
    {
      name: "RaeAnn Byrnes",
      role: "Senior Vice President, Provost",
      img: "toshi.jpg",
      tag: "wellness",
      link: "#",
    } ,
    
    // Clinical
    {
      name: "Dr. Michael Bennett",
      role: "Integrated Clinical Advisor",
      img: "hu.jpg",
      tag: "clinical",
      link: "#",
    } ,
    {
      name: "Dr. Michael Bennett",
      role: "Integrated Clinical Advisor",
      img: "hu.jpg",
      tag: "clinical",
      link: "#",
    } ,
    {
      name: "Dr. Michael Bennett",
      role: "Integrated Clinical Advisor",
      img: "hu.jpg",
      tag: "clinical",
      link: "#",
    } ,
    {
      name: "Dr. Michael Bennett",
      role: "Integrated Clinical Advisor",
      img: "hu.jpg",
      tag: "clinical",
      link: "#",
    } ,
    {
      name: "Dr. Michael Bennett",
      role: "Integrated Clinical Advisor",
      img: "hu.jpg",
      tag: "clinical",
      link: "#",
    } ,
    {
      name: "Dr. Michael Bennett",
      role: "Integrated Clinical Advisor",
      img: "hu.jpg",
      tag: "clinical",
      link: "#",
    } ,
    {
      name: "Dr. Michael Bennett",
      role: "Integrated Clinical Advisor",
      img: "hu.jpg",
      tag: "clinical",
      link: "#",
    } ,
    {
      name: "Dr. Michael Bennett",
      role: "Integrated Clinical Advisor",
      img: "hu.jpg",
      tag: "clinical",
      link: "#",
    } ,
    {
      name: "Dr. Michael Bennett",
      role: "Integrated Clinical Advisor",
      img: "hu.jpg",
      tag: "clinical",
      link: "#",
    } ,
    {
      name: "Dr. Michael Bennett",
      role: "Integrated Clinical Advisor",
      img: "hu.jpg",
      tag: "clinical",
      link: "#",
    } ,
    {
      name: "Dr. Michael Bennett",
      role: "Integrated Clinical Advisor",
      img: "hu.jpg",
      tag: "clinical",
      link: "#",
    } ,
    {
      name: "Dr. Michael Bennett",
      role: "Integrated Clinical Advisor",
      img: "hu.jpg",
      tag: "clinical",
      link: "#",
    } ,
    {
      name: "Dr. Michael Bennett",
      role: "Integrated Clinical Advisor",
      img: "hu.jpg",
      tag: "clinical",
      link: "#",
    } ,
    {
      name: "Dr. Michael Bennett",
      role: "Integrated Clinical Advisor",
      img: "hu.jpg",
      tag: "clinical",
      link: "#",
    } ,
    
    // Market
    {
      name: "Michael Pecot",
      role: "Senior Vice President",
      img: "kelly.jpg",
      tag: "market",
      link: "#",
    } ,
    {
      name: "Michael Pecot",
      role: "Senior Vice President",
      img: "kelly.jpg",
      tag: "market",
      link: "#",
    } ,
    {
      name: "Michael Pecot",
      role: "Senior Vice President",
      img: "kelly.jpg",
      tag: "market",
      link: "#",
    } ,
    {
      name: "Michael Pecot",
      role: "Senior Vice President",
      img: "kelly.jpg",
      tag: "market",
      link: "#",
    } ,
    {
      name: "Michael Pecot",
      role: "Senior Vice President",
      img: "kelly.jpg",
      tag: "market",
      link: "#",
    } ,
    {
      name: "Michael Pecot",
      role: "Senior Vice President",
      img: "kelly.jpg",
      tag: "market",
      link: "#",
    } ,
    {
      name: "Michael Pecot",
      role: "Senior Vice President",
      img: "kelly.jpg",
      tag: "market",
      link: "#",
    } ,
    {
      name: "Michael Pecot",
      role: "Senior Vice President",
      img: "kelly.jpg",
      tag: "market",
      link: "#",
    } ,
    {
      name: "Michael Pecot",
      role: "Senior Vice President",
      img: "kelly.jpg",
      tag: "market",
      link: "#",
    } ,
    {
      name: "Michael Pecot",
      role: "Senior Vice President",
      img: "kelly.jpg",
      tag: "market",
      link: "#",
    } ,
    {
      name: "Michael Pecot",
      role: "Senior Vice President",
      img: "kelly.jpg",
      tag: "market",
      link: "#",
    } ,
    {
      name: "Michael Pecot",
      role: "Senior Vice President",
      img: "kelly.jpg",
      tag: "market",
      link: "#",
    } ,
    {
      name: "Michael Pecot",
      role: "Senior Vice President",
      img: "kelly.jpg",
      tag: "market",
      link: "#",
    } ,
    {
      name: "Michael Pecot",
      role: "Senior Vice President",
      img: "kelly.jpg",
      tag: "market",
      link: "#",
    } ,
    {
      name: "Michael Pecot",
      role: "Senior Vice President",
      img: "kelly.jpg",
      tag: "market",
      link: "#",
    } ,

    
  ];
