.modal-outter.c13
  width: 100vw
  height: 100vh
  position: fixed
  top: 0
  z-index: 999
  background: rgba(70,93,108,0.9)
  padding-top: 20%
  left: 0
  right: 0
  overflow-y: scroll
  overflow-x: hidden
  display: block
  display: none


.modal.container.c13
  background: white
  padding: 25px
  +border-box
  max-width: 80vw
  border-top-right-radius: 20px
  position: relative


.modal-trigger.c13
  cursor: pointer

@media (min-width: $breakpoint-tablet)
  .modal-outter.c13
    padding-top: 10%
@media (min-width: $breakpoint-desktop)
  .modal-outter.c13
    padding-top: 07%
  .modal.container.c13
    max-width: 800px
