if Appointment == true

  .modal-outter.c13
    .modal-close.c13 X
    
    .modal.container.c13
      h2(style="text-align: center") Make An Appointment
      include ../../components/c25-form-elements/c25.pug

else if Appointment == false
  .modal-outter.c13
    .modal-close.c13 X
    
    .modal.container.c13
      h2 Test Modal
      p tesfladkjfgalsdkjfgadlkj dkjfgadkljfga dkjfga dlkjfga dlkjfga sdlk jfagdlkjf gajkdgfakjdgfa kljdfg alkjdgf lakjsdgflkajdgf lkajsdgf klajdgf lkajgf klajdgf kajdgflkajdg fkajdgflajdgfakjdgfkjg fj gfjsdgfjdgfj g gjdgfjsg fjgjg gjg jg jg jg jg jgsdfkjgsk jg
