.two-outter.c5
  display: flex
  flex-wrap: wrap
  +border-box

.column.c5
  width: 100%
  //padding: 10px 10px
  +border-box
  margin-bottom: 5%
  //+test

@media (min-width: $breakpoint-desktop)
  .column.c5
    width: 50%
    +border-box

    &.l
      width: 65%
      //background: red
    &.s
      width: 35%

    &:nth-child(odd)
      padding-right: 50px

    &:nth-child(even)
      padding-left: 50px

  .two-outter.c5
    justify-content: space-between
