.three-outter.c6
  display: flex
  flex-wrap: wrap
  +border-box
  padding: 50px 0px

.column.c6
  width: 100%
  padding: 10px 10px
  +border-box
  //+teal
  //height: 100px
  margin: 2.5% 0px

@media (min-width: $breakpoint-desktop)
  .column.c6
    width: 33.3%
