.outter.c46
  .member.c46
    img.c46(src="img/ed.jpg")
    span.name.c46 Edward Loew
    span.role.c46 Chief Strategy Officer
  .details.c46
    span.category.c46 Investor Relations
    p.c46 Information for investors is available upon request. If you would like to speak to a member of our investor relationship team, please contact Mr. Loew.
    a.link.c46(href="#") Contact Ed Loew
