.outter.c46
  padding: 25px 0px
  display: flex
  flex-direction: column

.member.c46
  width: 100%
  //background: red

.details.c46
  padding: 25px 0px
  padding-left: 00px
  flex-grow: 1
  color: $dark

span.name.c46
  color: $dark
  font-size: 13px
  +bold
  line-height: 18px
  margin-bottom: 5px
  display: block

img.c46
  display: block
  max-width: 100%
  margin-bottom: 15px

span.role.c46
  font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif
  color: #7f7f7f
  font-size: 11px
  font-style: italic
  line-height: 15px
  display: block


a.link.c46
  font-size: 13px
  +bold
  color: $dark
  +FontColor
  text-decoration: none

  &:hover
    color: $blue


@media (min-width: $breakpoint-desktop)
  .outter.c46
    flex-direction: row

  .details.c46
    padding: 0px
    padding-left: 30px
