.spacer.c23
  display: block
  +border-box
  padding: 10px 0px

  &.s20
    padding: 20px 0px

  &.s30
    padding: 30px 0px

  &.s40
    padding: 40px 0px

  &.s50
    padding: 50px 0px

  &.s60
    padding: 60px 0px

  &.s70
    padding: 70px 0px

  &.s80
    padding: 80px 0px

  &.s90
    padding: 90px 0px

  &.s100
    padding: 100px 0px
