include data-c27.pug

nav.sub-links.c27
  ul.c27
    h2.c27 Healthcare 
      span.c27 Professionals
    each item in professionals
      li.c27
        a.link.c27(href=item.link) #{item.title}
  
  ul.c27
    h2.c27 Doctors And Their
      span.c27 Patients
    each item in patients
      li.c27
        a.link.c27(href=item.link) #{item.title}
  
  ul.c27
    h2.c27 Wellness
      span.c27 Advocates
    each item in advocates
      li.c27
        a.link.c27(href=item.link) #{item.title}
  
  ul.c27
    h2.c27 About Our
      span.c27 Company
    each item in company 
      li.c27
        a.link.c27(href=item.link) #{item.title}

img.g-bottom.c27(src="img/nav-angles.png")
