nav.sub-links.c27
  //background: $teal
  display: flex
  align-items: flex-start
  justify-content: center
  flex-direction: column
  width: 100%
  padding-bottom: 200px

ul.c27
  display: block
  width: 100%
  padding: 0px 10px
  +border-box
  list-style: none
  margin-bottom: 30px

h2.c27
  font-size: 16px
  +light
  color: $dark
  line-height: 18px
  border-bottom: 1px solid $border
  padding-bottom: 5px
  margin-bottom: 5px

  span.c27
    font-size: 18px
    +bold
    display: block



li.c27


a.link.c27
  font-size: 12px
  +normal
  line-height: 15px
  color: $dark
  text-decoration: none
  +FontColor
  &:hover
    color: $teal



img.g-bottom.c27
  position: absolute
  bottom: 0
  left: 0

@media (min-width: $breakpoint-tablet)
  nav.sub-links.c27
    display: flex
    align-items: flex-start
    justify-content: center
    flex-wrap: wrap
    flex-direction: row
    padding-bottom: 50px
  ul.c27
    width: 48%
    //background: red

@media (min-width: $breakpoint-desktop)
  nav.sub-links.c27


  ul.c27
    width: 25%
    margin-bottom: 0px

  h2.c27
    padding-bottom: 20px
    margin-bottom: 10px
