-
  var professionals = [
    {
      title: "General Dentist",
      link: "general-dentist.html",
    } ,  
    {
      title: "Specialty Dentist",
      link: "specialty-dentist.html",
    } ,  
    {
      title: "Medical Doctor",
      link: "medical-doctor.html",
    } ,  
    {
      title: "Specialty Chiropractor",
      link: "specialty-chiropractor.html",
    } ,  
    {
      title: "Hospitals",
      link: "hospitals.html",
    } ,  
    {
      title: "Wellness Clinics",
      link: "wellness-clinics.html",
    } ,  
    {
      title: "Integrated Practice Program",
      link: "integrated-practice-program.html",
    } ,   

  ];


-
  var patients = [
    {
      title: "Breathing Wellness",
      link: "breathing-wellness.html",
    } ,  
    {
      title: "A Healthy Lifestyle",
      link: "a-healthy-lifestyle.html",
    } ,  
    {
      title: "Early Warning Signs",
      link: "early-warning-signs.html",
    } ,  
    {
      title: "New Hope",
      link: "new-hope.html",
    } ,  
    {
      title: "Find A Doctor",
      link: "find-a-doctor.html",
    } ,  
    {
      title: "Resources",
      link: "resources.html",
    } ,  


  ];


-
  var advocates = [
    {
      title: "Corporate Wellness",
      link: "corporate-wellness.html",
    } ,  
    {
      title: "Employee Screening",
      link: "employee-screening.html",
    } ,  
    {
      title: "Benefits",
      link: "benefits.html",
    } ,  
    {
      title: "Outcomes",
      link: "outcomes.html",
    } ,  
    {
      title: "Corporate Events",
      link: "corporate-events.html",
    } ,  
    {
      title: "Associations",
      link: "associations.html",
    } ,  


  ];


-
  var company = [
    {
      title: "Corporate Information",
      link: "corporate-information.html",
    } ,  
    {
      title: "Leadership",
      link: "leadership.html",
    } ,  
    {
      title: "Investor Relations",
      link: "investor-relations.html",
    } ,  
    {
      title: "Ethics & Corporate Governance",
      link: "ethics-and-corporate-governance.html",
    } ,  
    {
      title: "Media Inqueries",
      link: "media-inqueries.html",
    } ,  
    {
      title: "Partners",
      link: "partners.html",
    } ,  
    {
      title: "Culture & Values",
      link: "culture-and-values.html",
    } ,  
    {
      title: "Global-network",
      link: "global-network.html",
    } ,  
    {
      title: "Breathing Wellness Institute",
      link: "breathing-wellness-institute.html",
    } ,  
  ];
