
.testimonial-slider.c29
  //background: grey
  //height: 450px
  margin: 50px 0px

.swiper-container.c29
  width: 100%
  height: 350px
  margin-left: auto
  margin-right: auto
  //background: red
.swiper-slide.c29
  background-size: cover
  background-position: center



.swiper-slide.main.c29
  //background: grey
  display: flex
  align-items: flex-start
  justify-content: flex-start


.video-block.c29
  height: 100%
  max-height: 350px
  width: 60%
  +background-fill
  position: relative
  cursor: pointer

  &:hover
    img.play-icon.c29
      opacity: 1


  img.play-icon.c29
    position: absolute
    bottom: 10px
    right: 10px
    opacity: .6
    +opacity
    cursor: pointer


.content-block.c29
  //background: white
  flex: 1
  padding: 2% 5%
  +border-box
  padding-top: 0px
  padding-right: 0px



h4.c29
  font-size: 18px
  color: $dark
  +bold
  letter-spacing: -1px
  line-height: 25px
  margin-top: 0px
  margin-bottom: 12px

p.c29
  color: $text
  font-size: 13px
  line-height: 16px
  +normal
  margin: 0px
  margin-bottom: 15px



.gallery-top.c29
  //height: 80%
  width: 100%

.gallery-thumbs.c29
  //height: 20%
  box-sizing: border-box
  padding: 10px 0




  .swiper-slide-thumb-active.c29
    opacity: 1


.swiper-container.gallery-thumbs.c29
  //background: #ccc
  height: 162px
  display: flex
  align-items: center
  justify-content: space-between
  margin-top: 55px

  .swiper-wrapper.c29
    //background: red
    height: 100%
    min-height: 162px
    max-height: 162px
    display: block
    //flex: 1
    padding: 0px
    display: flex
    align-items: center
    max-width: 950px
    z-index: 799
    position: relative


    .swiper-slide.thumb.c29
      width: 162px !important
      height: 162px
      max-height: 162px
      opacity: 1

      //z-index: 800
      position: relative
      margin: 0 1.2%
      +background-fill
      cursor: pointer
      +opacity

      &:first-of-type
        margin-left: 0px

      &:hover
        img.play-icon.c29
          opacity: 1


      img.play-icon.c29
        position: absolute
        bottom: 10px
        right: 10px
        opacity: .6
        +opacity


.swiper-button-prev.swiper-button-white.c29,.swiper-button-next.swiper-button-white.c29
  background: #f6f6f6
  z-index: 800
  display: flex
  align-items: center
  position: relative
  width: 35px !important
  height: 162px
  margin-top: 0px
  top: 0

  &:hover
    i
      color: $dark

  i
    font-size: 16px
    color: $text




.swiper-button-prev.swiper-button-white.c29
  left: 0
  justify-content: flex-start

.swiper-button-next.swiper-button-white.c29
  right: 0
  justify-content: flex-end
