include data-c29.pug

.testimonial-slider.c29
  // Swiper
  .swiper-container.gallery-top.c29
    .swiper-wrapper.c29
      each item in slides
        .swiper-slide.main.c29(id=item.title)
          .video-block.c29(style="background-image:url(img/"+item.thumbnail+"")
            img.play-icon.c29.modal-trigger(src="img/play-off.png")
          
          .content-block.c29
            h4.c29 #{item.heading}
            for j in item.details
              p.c29 #{j}

  // Thumbnails  
  .swiper-container.gallery-thumbs.c29
    .swiper-button-prev.swiper-button-white.c29
      i.fas.fa-chevron-left
    .swiper-wrapper.c29
      each item in slides
        .swiper-slide.thumb.c29(style="background-image:url(img/"+item.thumbnail+"")
          img.play-icon.c29(src="img/play-off.png")

  
    // Add Arrows
    .swiper-button-next.swiper-button-white.c29
      i.fas.fa-chevron-right
