-
  var slides = [
    {
      title: "1",
      thumbnail: "test-1.jpg",
      heading: "Better Outcomes for Patients & Doctors",
      
      details: [
      "All around the world, individual doctors and dentists are collaborating to bring a new focus on the importance of breathing wellness.",
      
      "Inspired by the overall health benefits of breathing wellness and a desire to provide hope for the millions who suffer from impaired breathing, this group of healthcare providers are helping patients achieve health and wellness by taking a whole body approach and by leveraging collaboration across a variety of disciplines.",
      
      "Every individual case is unique. Every outcome is personal. At Vivos we are helping to cultivate an interconnected network of integrated healthcare providers to encourage this type of collaboration to achieve the best possible outcome for doctors and their patients.",
      
      ]
      
    } ,
    {
      title: "2",
      thumbnail: "hayward.jpg",
      heading: "Better Outcomes for Patients & Doctors",
      
      details: [
      "All around the world, individual doctors and dentists are collaborating to bring a new focus on the importance of breathing wellness.",
      
      "Inspired by the overall health benefits of breathing wellness and a desire to provide hope for the millions who suffer from impaired breathing, this group of healthcare providers are helping patients achieve health and wellness by taking a whole body approach and by leveraging collaboration across a variety of disciplines.",
      
      "Every individual case is unique. Every outcome is personal. At Vivos we are helping to cultivate an interconnected network of integrated healthcare providers to encourage this type of collaboration to achieve the best possible outcome for doctors and their patients.",
      
      ]
      
    } ,
    {
      title: "1",
      thumbnail: "test-1.jpg",
      heading: "Better Outcomes for Patients & Doctors",
      
      details: [
      "All around the world, individual doctors and dentists are collaborating to bring a new focus on the importance of breathing wellness.",
      
      "Inspired by the overall health benefits of breathing wellness and a desire to provide hope for the millions who suffer from impaired breathing, this group of healthcare providers are helping patients achieve health and wellness by taking a whole body approach and by leveraging collaboration across a variety of disciplines.",
      
      "Every individual case is unique. Every outcome is personal. At Vivos we are helping to cultivate an interconnected network of integrated healthcare providers to encourage this type of collaboration to achieve the best possible outcome for doctors and their patients.",
      
      ]
      
    } ,
    {
      title: "2",
      thumbnail: "hayward.jpg",
      heading: "Better Outcomes for Patients & Doctors",
      
      details: [
      "All around the world, individual doctors and dentists are collaborating to bring a new focus on the importance of breathing wellness.",
      
      "Inspired by the overall health benefits of breathing wellness and a desire to provide hope for the millions who suffer from impaired breathing, this group of healthcare providers are helping patients achieve health and wellness by taking a whole body approach and by leveraging collaboration across a variety of disciplines.",
      
      "Every individual case is unique. Every outcome is personal. At Vivos we are helping to cultivate an interconnected network of integrated healthcare providers to encourage this type of collaboration to achieve the best possible outcome for doctors and their patients.",
      
      ]
      
    } ,
    {
      title: "1",
      thumbnail: "test-1.jpg",
      heading: "Better Outcomes for Patients & Doctors",
      
      details: [
      "All around the world, individual doctors and dentists are collaborating to bring a new focus on the importance of breathing wellness.",
      
      "Inspired by the overall health benefits of breathing wellness and a desire to provide hope for the millions who suffer from impaired breathing, this group of healthcare providers are helping patients achieve health and wellness by taking a whole body approach and by leveraging collaboration across a variety of disciplines.",
      
      "Every individual case is unique. Every outcome is personal. At Vivos we are helping to cultivate an interconnected network of integrated healthcare providers to encourage this type of collaboration to achieve the best possible outcome for doctors and their patients.",
      
      ]
      
    } ,
    {
      title: "1",
      thumbnail: "test-1.jpg",
      heading: "Better Outcomes for Patients & Doctors",
      
      details: [
      "All around the world, individual doctors and dentists are collaborating to bring a new focus on the importance of breathing wellness.",
      
      "Inspired by the overall health benefits of breathing wellness and a desire to provide hope for the millions who suffer from impaired breathing, this group of healthcare providers are helping patients achieve health and wellness by taking a whole body approach and by leveraging collaboration across a variety of disciplines.",
      
      "Every individual case is unique. Every outcome is personal. At Vivos we are helping to cultivate an interconnected network of integrated healthcare providers to encourage this type of collaboration to achieve the best possible outcome for doctors and their patients.",
      
      ]
      
    } ,
    {
      title: "2",
      thumbnail: "hayward.jpg",
      heading: "Better Outcomes for Patients & Doctors",
      
      details: [
      "All around the world, individual doctors and dentists are collaborating to bring a new focus on the importance of breathing wellness.",
      
      "Inspired by the overall health benefits of breathing wellness and a desire to provide hope for the millions who suffer from impaired breathing, this group of healthcare providers are helping patients achieve health and wellness by taking a whole body approach and by leveraging collaboration across a variety of disciplines.",
      
      "Every individual case is unique. Every outcome is personal. At Vivos we are helping to cultivate an interconnected network of integrated healthcare providers to encourage this type of collaboration to achieve the best possible outcome for doctors and their patients.",
      
      ]
      
    } ,
    {
      title: "1",
      thumbnail: "test-1.jpg",
      heading: "Better Outcomes for Patients & Doctors",
      
      details: [
      "All around the world, individual doctors and dentists are collaborating to bring a new focus on the importance of breathing wellness.",
      
      "Inspired by the overall health benefits of breathing wellness and a desire to provide hope for the millions who suffer from impaired breathing, this group of healthcare providers are helping patients achieve health and wellness by taking a whole body approach and by leveraging collaboration across a variety of disciplines.",
      
      "Every individual case is unique. Every outcome is personal. At Vivos we are helping to cultivate an interconnected network of integrated healthcare providers to encourage this type of collaboration to achieve the best possible outcome for doctors and their patients.",
      
      ]
      
    } ,
    {
      title: "2",
      thumbnail: "hayward.jpg",
      heading: "Better Outcomes for Patients & Doctors",
      
      details: [
      "All around the world, individual doctors and dentists are collaborating to bring a new focus on the importance of breathing wellness.",
      
      "Inspired by the overall health benefits of breathing wellness and a desire to provide hope for the millions who suffer from impaired breathing, this group of healthcare providers are helping patients achieve health and wellness by taking a whole body approach and by leveraging collaboration across a variety of disciplines.",
      
      "Every individual case is unique. Every outcome is personal. At Vivos we are helping to cultivate an interconnected network of integrated healthcare providers to encourage this type of collaboration to achieve the best possible outcome for doctors and their patients.",
      
      ]
      
    } ,
    {
      title: "1",
      thumbnail: "test-1.jpg",
      heading: "Better Outcomes for Patients & Doctors",
      
      details: [
      "All around the world, individual doctors and dentists are collaborating to bring a new focus on the importance of breathing wellness.",
      
      "Inspired by the overall health benefits of breathing wellness and a desire to provide hope for the millions who suffer from impaired breathing, this group of healthcare providers are helping patients achieve health and wellness by taking a whole body approach and by leveraging collaboration across a variety of disciplines.",
      
      "Every individual case is unique. Every outcome is personal. At Vivos we are helping to cultivate an interconnected network of integrated healthcare providers to encourage this type of collaboration to achieve the best possible outcome for doctors and their patients.",
      
      ]
      
    } ,
  
 

  ];
