h2.c47 Vivos
  strong Investor Relations

.large-quote.c47(style="background: #936237")
  img.v.c47(src="img/vivos-small-logo.png")
  h6.c47 Ethics is knowing the difference between what you have a right to do and what is right to do.
  span.c47 Potter Stewart
