.large-quote.c47
  //background: $dBlue
  padding: 30px
  +border-box
  border-radius: 0px 30px 0px 30px
  position: relative
  z-index: 2
  display: block
  margin-bottom: 55px
  h6.c47
    font-size: 40px
    +thin
    line-height: 48px
    color: white
    margin: 35px 0px

img.v.c47
  position: absolute
  right: 30px

span.c47
  color: white
  font-size: 14px

h2.c47
  display: block
  margin-bottom: 35px
@media (min-width: $breakpoint-desktop)
  .large-quote.c47
    margin-bottom: 0px

  h2.c47
    display: none
