- var PageTitle = "Find A Doctor"
- var template = "content"
include ../global/vars.pug

doctype html
html
  // Head
  include ../global/head.pug

  body#top
    include ../components/c1-nav/c1.pug
    // Content Header
    include ../components/c8-hero-slider/c8.pug
    
    section
      .container
        h2 What is
          strong Breathing Wellness

    
    
    
    
    
    include ../components/c2-footer/c2.pug
    // scripts
    include ../global/scripts.pug

    
      

      
