- var PageTitle = "Global Network"
- var template = "company"
include ../global/vars.pug

doctype html
html
  // Head
  include ../global/head.pug

  body#top
    include ../components/c1-nav/c1.pug
    // Company Header
    header.c38
      .container.c38
        .inner.c38
          h2 Vivos Therapeutics
            strong Global Integrated Network
          .small-border.c36(style="background: #465d6c")
          .spacer.c23.s10
          p Solving the complex health concerns of people who suffer from mild-to-moderate sleep apnea and sleep disordered breathing requires a multidisciplinary approach. At Vivos we work to cultivate meaningful relationships across the healthcare spectrum by developing integrated practices who have the clinical skills to deliver the best standard of care possible.
           
          h4 Corporate 
          
          p At Vivos, we recognize and celebrate inclusive collaboration. The Vivos Integrated Network is a novel approach to expanding the efficiency of each individual practice through a tight knit community of colleagues. The integrated network seeks to establish a new standard of care through an interdependent network of healthcare providers.
          
        include ../components/c39-secondary-nav/c39.pug
          
        
      
    .divider.c24
    section.company
    
    
    include ../components/c2-footer/c2.pug
    // scripts
    include ../global/scripts.pug
    script(src=" components/c32-content-slider/c32.js")
