- var PageTitle = "Healthcare Professionals"
- var template = "content"
include ../global/vars.pug

doctype html
html
  // Head
  include ../global/head.pug

  body#top
    include ../components/c1-nav/c1.pug
    // Content Header
    section.c8.hero-slider
      .swiper-container.c8
        .swiper-wrapper.c8
          // Slide 1
          .swiper-slide.c8(style="background-image: url('img/medteam.jpg'); background-position: top")
            .overlay.c8(style="background: rgba(1,52,86,0.6)")
              .container.c8
                .slide-outter.c8
                  .slide-inner.c8
                    .v-icon
                      img(src="img/vivos-small-logo.png")
                    h1.c8 Developing Breathing Wellness
                      strong Healthcare Professionals
                    .small-border.c36(style="background: #e4be45")
                    p.c8 We are on a mission enable clinicians to rid the world of obstructive sleep apnea. We accomplish our mission by collaborating with physicians, dentists, specialized chiropractors and clinical research teams to develop the very best therapeutic protocols and treatment options for patients who suffer from mild-to-moderate sleep apnea and sleep disordered breathing.

                  .slide-img.c8
                    //img(src="img/singh-cortes.png")
                .angle.c8
                  img(src="img/white-angles.png")
    main
      .container
        h2 Professional
          strong Healthcare Providers
        .cards-outter.c14
          .card.c14(style="border-color: #acc37e;")
            h2.c14 General
              span.c14 Dentists
            p.c14 General dentists are uniquely qualified to identify, diagnose and provide effective treatment planning for maxillary hypoplasia and mandibular retrusion, conditions which are often associated with obstructive sleep apnea.
            p.c14 The Vivos Integrated Practice program provides general dentists the clinical skills, advanced tools, essential resources and effective treatment protocols to significantly impact the lives of their patients.
            p.c14 We invite you to learn more about the Integrated Practice opportunities for general dentists.
            a.btn(href="general-dentist.html") Explore
          
          .card.c14(style="border-color: #90aaa2;")
            h2.c14 Specialty
              span.c14 Dentists
            p.c14 Specialty dentists can also play an important role in Breathing Wellness.
              ul.c14
                li.c14 Endodontics
                li.c14 Oral and Maxillofacial Surgery
                li.c14 Orthodontics
                li.c14 Dentofacial Orthopedics
                li.c14 Pediatric Dentistry
                li.c14 Periodontics
                li.c14 Prosthodontics
            p.c14 We invite you to learn more about the Integrated Practice opportunities for specialty dentists.
            
            //a.btn(href="#") Explore
            
          
          .card.c14(style="border-color: #e4be45;")
            h2.c14 Medical
              span.c14 Doctors
            p.c14 Medical doctors are keenly aware of the overall impact to health and wellness for patients who suffer from mild-to-moderate sleep and breathing disorders.
            p.c14 Vivos works with medical doctors around the world to help inform and educate patients about the serious risks associated with compromised nocturnal breathing and other breathing deficiencies.
            p.c14 We invite you to learn more about how Vivos can help you deliver the very best healthcare for your patients.
            //a.btn(href="#") Explore


          .card.c14(style="border-color: #acc37e;")
            h2.c14 Specialty
              span.c14 Chiropractors
            p.c14 In some cases of obstructive sleep apnea, the pharyngeal airway may be compromised by malalignment of the atlas-axis vertebrae, which may adversely affect the breathing/swallowing centers requiring specialized upper cervical chiropractic intervention.
            p.c14 Chiropractors who specialize in atlas orthogonal intervention plays important role in the treatment of such cases.
            p.c14 We invite you to learn more about opportunities to work with Vivos to provide the very best care for your patients.
            //a.btn(href="#") Explore
          
          .card.c14(style="border-color: #90aaa2;")
            h2.c14 Oral Myofunctional
              span.c14 Therapists
            p.c14 Maxillary hypoplasia and mandibular retrusion can promote poor myofunctional behavior and habits.
            p.c14 Myofunctional therapeutic exercises have been shown to improve the clinical outcomes in some cases.
            p.c14 We invite you to learn more about opportunities to work with Vivos to and to become a part of our multidisciplinary team.
            //a.btn(href="#") Explore
            
          
          .card.c14(style="border-color: #e4be45;")
            h2.c14 Holistic Wellness
              span.c14 Clinicians
            p.c14 Holistic Wellness clinicians can also play an important role in Breathing Wellness.
              ul.c14
                li.c14 Osteopath
                li.c14 Nutritionist
                li.c14 Health + Fitness Trainers
                li.c14 Naturopath
                li.c14 Massage Therapist
                li.c14 Acupuncturist
                li.c14 Cranio Sacral Massage
                li.c14 Physical Therapist
                
            p.c14 We invite you to learn more about opportunities to become a part of the Breathing Wellness movement.
    
    
    
    
    include ../components/c2-footer/c2.pug
    // scripts
    include ../global/scripts.pug
