- var PageTitle = "Vivos - Breathing Wellness Centers"
- var template = "home"
include ../global/vars.pug

doctype html
html
  // Head
  include ../global/head.pug

  body#top
    include ../components/c1-nav/c1.pug
    include ../components/c8-hero-slider/c8.pug
    
    section
      .container
        .cards-outter.c14
          .card.c14(style="border-color: #acc37e;")
            h2.c14 Healthcare
              span.c14 Professionals
            p.c14 We are developing a global network of integrated healthcare providers who are dedicated to delivering the most effective treatments to their patients who are suffering from mild-to-moderate sleep apnea and sleep disordered breathing.
            
            P.C14 We are making significant investments in clinical research and developing tools and resources to apply the findings in practical, real-life therapeutic protocols and treatment modalities.
            //a.btn(href="#") Explore
          
          .card.c14(style="border-color: #90aaa2;")
            h2.c14 Doctors And Their
              span.c14 Patients
            p.c14 We collaborate with professional healthcare providers to create and deliver an unparalleled patient experience as they progress through their breathing wellness journey.
            P.c14 At Vivos, we have a unique vantage point and we are able to clearly see the challenges and opportunities to develop and hone the skills of healthcare providers who are focused on breathing wellness.
            //a.btn(href="#") Explore
            
          
          .card.c14(style="border-color: #e4be45;")
            h2.c14 General
              span.c14 Dentists
            p.c14 Vivos is improving Breathing Wellness healthcare through innovative clinical programs and a proprietary multidisciplinary approach.
            p.c14 We recognize the complex nature of the sleep disorder continuum and the fact that every patient presents with a unique history and clinical profile.
            p.c14 We encourage and help to cultivate a culture of inclusiveness across the healthcare provider spectrum to ensure a comprehensive therapeutic approach.
            //a.btn(href="#") Explore

        //h5(style="text-align: center;") Vivos Therapeutics is dedicated to transforming and improving lives by collaborating with top healthcare professionals and through innovative treatment modalities, advanced clinical protocols and solutions that improve the overall health and wellness of people around the world.    
    section(style="background: #7eb6c3")
      .container
        h2 Professional
          strong Healthcare Providers
        .cards-outter.c14
          .card.c14(style="border-color: #acc37e;")
            h2.c14 General
              span.c14 Dentists
            p.c14 General dentists are uniquely qualified to identify, diagnose and provide effective treatment planning for maxillary hypoplasia and mandibular retrusion, conditions which are often associated with obstructive sleep apnea.
            p.c14 The Vivos Integrated Practice program provides general dentists the clinical skills, advanced tools, essential resources and effective treatment protocols to significantly impact the lives of their patients.
            p.c14 We invite you to learn more about the Integrated Practice opportunities for general dentists.
            a.btn(href="general-dentist.html") Explore
          
          .card.c14(style="border-color: #90aaa2;")
            h2.c14 Specialty
              span.c14 Dentists
            p.c14 Specialty dentists can also play an important role in Breathing Wellness.
              ul.c14
                li.c14 Endodontics
                li.c14 Oral and Maxillofacial Surgery
                li.c14 Orthodontics
                li.c14 Dentofacial Orthopedics
                li.c14 Pediatric Dentistry
                li.c14 Periodontics
                li.c14 Prosthodontics
            p.c14 We invite you to learn more about the Integrated Practice opportunities for specialty dentists.
            
            //a.btn(href="#") Explore
            
          
          .card.c14(style="border-color: #e4be45;")
            h2.c14 Medical
              span.c14 Doctors
            p.c14 Medical doctors are keenly aware of the overall impact to health and wellness for patients who suffer from mild-to-moderate sleep and breathing disorders.
            p.c14 Vivos works with medical doctors around the world to help inform and educate patients about the serious risks associated with compromised nocturnal breathing and other breathing deficiencies.
            p.c14 We invite you to learn more about how Vivos can help you deliver the very best healthcare for your patients.
            //a.btn(href="#") Explore


          .card.c14(style="border-color: #acc37e;")
            h2.c14 Specialty
              span.c14 Chiropractors
            p.c14 In some cases of obstructive sleep apnea, the pharyngeal airway may be compromised by malalignment of the atlas-axis vertebrae, which may adversely affect the breathing/swallowing centers requiring specialized upper cervical chiropractic intervention.
            p.c14 Chiropractors who specialize in atlas orthogonal intervention plays important role in the treatment of such cases.
            p.c14 We invite you to learn more about opportunities to work with Vivos to provide the very best care for your patients.
            //a.btn(href="#") Explore
          
          .card.c14(style="border-color: #90aaa2;")
            h2.c14 Oral Myofunctional
              span.c14 Therapists
            p.c14 Maxillary hypoplasia and mandibular retrusion can promote poor myofunctional behavior and habits.
            p.c14 Myofunctional therapeutic exercises have been shown to improve the clinical outcomes in some cases.
            p.c14 We invite you to learn more about opportunities to work with Vivos to and to become a part of our multidisciplinary team.
            //a.btn(href="#") Explore
            
          
          .card.c14(style="border-color: #e4be45;")
            h2.c14 Holistic Wellness
              span.c14 Clinicians
            p.c14 Holistic Wellness clinicians can also play an important role in Breathing Wellness.
              ul.c14
                li.c14 Osteopath
                li.c14 Nutritionist
                li.c14 Health + Fitness Trainers
                li.c14 Naturopath
                li.c14 Massage Therapist
                li.c14 Acupuncturist
                li.c14 Cranio Sacral Massage
                li.c14 Physical Therapist
                
            p.c14 We invite you to learn more about opportunities to become a part of the Breathing Wellness movement.
    section
      .container
        h2 Our Doctors
          strong Their Patients
          
          include ../components/c32-content-slider/data-c32.pug
          .outter.c32
            // Swiper
            .swiper-container.gallery-top.c32
              .swiper-wrapper.c32
                each item in slides
                  .swiper-slide.main.c32(id=item.title)
                    .video-block.c32.modal-trigger.c32(style="background-image:url(img/"+item.thumbnail+"")
                      img.play-icon.c32(src="img/play-off.png")
                    
                    .content-block.c32
                      h4.c32 #{item.heading}
                      for j in item.details
                        p.c32 #{j}

            .swiper-container.gallery-thumbs.c32
              .swiper-button-prev.swiper-button-white.c32
                i.fas.fa-chevron-left
              .swiper-wrapper.c32
                each item in slides
                  .swiper-slide.thumb.c32(style="background-image:url(img/"+item.thumbnail+"")
                    img.play-icon.c32(src="img/play-off.png")
              
              // Add Arrows
              .swiper-button-next.swiper-button-white.c32
                i.fas.fa-chevron-right


            // Video Modal
            .modal-outter.c32
              .modal.container.c32
                iframe(src="https://player.vimeo.com/video/278003960" width="640" height="360" frameborder="0" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen="")

        
        
        h4(style="text-align: center;") Collaboration is the new normal in breathing wellness healthcare.
        p(style="text-align: center;") At Vivos, we believe that optimal At Vivos, we believe that optimal clinical outcomes require interdependence and collaboration.
        .spacer.c23.s20    
        .outter.c31
          p.mini.c31 At Vivos, we believe that optimal clinical outcomes require interdependence and collaboration. We promote, cultivate, encourage and enable a fresh approach, which is inclusive and recognizes the benefit of a truly multidisciplinary approach to health and breathing wellness.

          p.mini.c31 We invest in programs to facilitate and help to the doctors in our network develop and cultivate meaningful collaborative relationships across the healthcare provider spectrum.
        
        
        
        .spacer.c23.s20
        .divider.c24
        .spacer.c23.s20
        h2 Enabling the Multidisciplinary
          strong Breathing Wellness Team
        
        .two-outter.c5
          .column.c5
            p We help doctors, dentists, chiropractors and wellness advocates, focus on patient care while enhancing efficiency and improving the quality of care. Our unique integrated network approach and sophisticated technology is designed to facilitate and enable close multidisciplinary collaboration.
            p We provide resources, training and advanced products and collaboration services to many of America’s most prestigious healthcare providers.
            p We leverage advancements in telemedicine, video conferencing, online learning tools and a nationwide network of advisors to enable and empower the Vivos Integrated Network of doctors, dentists, chiropractors and wellness clinicians.
          .column.c5
            img(src="img/dental meeting.jpg")
    section(style="background: #e5e5e5")
      .container
        h2 A Multidisciplinary
          strong Breathing Wellness Team
        
        include ../components/c30-wellness-items/c30.pug
        p.mini(style="text-align: center;") We are making significant investments into the cultivation of the multidisciplinary team approach to breathing wellness.
      
          
          
    
    
    include ../components/c2-footer/c2.pug
    // scripts
    include ../global/scripts.pug
    script(src=" components/c32-content-slider/c32.js")
