- var PageTitle = "Insider Trading"
- var template = "sidebar"
include ../global/vars.pug

doctype html
html
  // Head
  include ../global/head.pug

  body#top
    include ../components/c1-nav/c1.pug
    section
      .container
        .sidebar-group.c41
          .sidebar.c41
            
            .inner.c41
              
          .content.c41
            
        
        
    
    
    include ../components/c2-footer/c2.pug
    // scripts
    include ../global/scripts.pug
