- var PageTitle = "Investor Relations"
- var template = "company"
include ../global/vars.pug

doctype html
html
  // Head
  include ../global/head.pug

  body#top
    include ../components/c1-nav/c1.pug
    // Company Header
    header.c38
      .container.c38
        .inner.c38
          h2 Our Doctors
            strong Their Patients
          .small-border.c36(style="background: #465d6c")
          include ../components/c46-contact-member/c46.pug
        include ../components/c39-secondary-nav/c39.pug
          
        
      
    //.divider.c24
    section.company
      .container
        //include ../components/c39-secondary-nav/c39.pug
    
    
    include ../components/c2-footer/c2.pug
    // scripts
    include ../global/scripts.pug
    script(src=" components/c32-content-slider/c32.js")
