- var PageTitle = "Kirk Huntsman"
- var template = "member"
include ../global/vars.pug

doctype html
html
  // Head
  include ../global/head.pug

  body#top
    include ../components/c1-nav/c1.pug
    section
      .container
        .sidebar-group.c41
          .sidebar.c41
            img.c40(src="img/kirk-hunstman-1.jpg")
            .inner.c41
              span.name.c40 R. Kirk Huntsman
              span.role.c40 Chief Executive Officer
          .content.c41
            h5 R. Kirk Huntsman
            span.c41 BS Finance | Marriott School of Business | Brigham Young University 
            
            ul.c41
              li.c41 Led the creative effort behind the Vivos brand and the design of a unique oral appliance product. Led the effort to test, evaluate, validate and acquire the IP assets and comprehensive  oral appliance product line owned and developed by world-renowned clinical researcher Dr. Dave Singh, DMD PhD DDSc and BioModeling Solutions (BMS).
              li.c41 Negotiated and led the successful merger and integration of the Vivos product line and assets along with BMS and Singh IP assets into Vivos Therapeutics, Inc.
              li.c41 Recruited a world-class team of executives, advisors, board members, and clinical providers to execute on a strategic go-to-market initiative with a strong differentiated model and first-mover advantage. Further details and bios are available under the Leadership link at com.
              li.c41 Led the company through a series of successful rounds of capital formation, from a seed round through Series A, B, and (current) C rounds at successively higher valuations, most of which have been oversubscribed. Oversaw the selection process and eventual retention of a broker dealer group to lead the Company through a proposed Reg A+ IPO.
              li.c41 Led the collaborative creation of the Vivos Breathing & Wellness Center retail model. Negotiated the first DSO contract with multi-million dollar revenue potential for Vivos to be the primary provider of oral appliances for sleep and breathing disorders.
              
            h5 Ortho Ventures
            ul.c41
              li.c41 Led the creative effort behind the Vivos brand and the design of a unique oral appliance product. Led the effort to test, evaluate, validate and acquire the IP assets and comprehensive  oral appliance product line owned and developed by world-renowned clinical researcher Dr. Dave Singh, DMD PhD DDSc and BioModeling Solutions (BMS).
              li.c41 Negotiated and led the successful merger and integration of the Vivos product line and assets along with BMS and Singh IP assets into Vivos Therapeutics, Inc.
              li.c41 Recruited a world-class team of executives, advisors, board members, and clinical providers to execute on a strategic go-to-market initiative with a strong differentiated model and first-mover advantage. Further details and bios are available under the Leadership link at com.
              li.c41 Led the company through a series of successful rounds of capital formation, from a seed round through Series A, B, and (current) C rounds at successively higher valuations, most of which have been oversubscribed. Oversaw the selection process and eventual retention of a broker dealer group to lead the Company through a proposed Reg A+ IPO.
              li.c41 Led the collaborative creation of the Vivos Breathing & Wellness Center retail model. Negotiated the first DSO contract with multi-million dollar revenue potential for Vivos to be the primary provider of oral appliances for sleep and breathing disorders.
        
        
    
    
    include ../components/c2-footer/c2.pug
    // scripts
    include ../global/scripts.pug
