- var PageTitle = "Leadership"
- var template = "company"
include ../global/vars.pug

doctype html
html
  // Head
  include ../global/head.pug

  body#top
    include ../components/c1-nav/c1.pug
    // Company Header
    header.c38
      .container.c38
        .inner.c38
          h2 Vivos Therapeutics
            strong Corporate Leadership
          .small-border.c36(style="background: #465d6c")
          .spacer.c23.s10
          p Vivos has assembled a world-class leadership team. We take great pride in cultivating a culture of personal responsibility, precise execution and we never forget why we exist.
          
        include ../components/c39-secondary-nav/c39.pug
          
        
      
      
    section.company
      .container
        include ../components/c40-team/c40.pug
        
        
    
    
    include ../components/c2-footer/c2.pug
    // scripts
    include ../global/scripts.pug
