- var PageTitle = "Our Approach"
- var template = "content"
include ../global/vars.pug

doctype html
html
  // Head
  include ../global/head.pug

  body#top
    include ../components/c1-nav/c1.pug
    // Content Header
    section.c8.hero-slider
      .swiper-container.c8
        .swiper-wrapper.c8
          // Slide 1
          .swiper-slide.c8(style="background-image: url('img/dentist-consult.jpg'); background-position: top")
            .overlay.c8(style="background: rgba(1,52,86,0.6)")
              .container.c8
                .slide-outter.c8
                  .slide-inner.c8
                    .v-icon
                      img(src="img/vivos-small-logo.png")
                    h1.c8 Doctors and
                      strong Their Patients
                    .small-border.c36(style="background: #e4be45")
                    p.c8 As a leading provider of breathing wellness therapeutic protocols and technologies, Vivos Therapeutics enables an integrated, multidisciplinary  network of healthcare providers. We deliver sophisticated maxillary mandibular diagnostics, biomimetic oral appliance therapeutic protocols and intelligent practice and patient management systems, data analytics and professional services.
                    
                    ul(style="color: white")
                      li Treatment Planning & Delivery
                      li Therapeutic Protocols
                      li Patient Education
                      li Technology & Software
                      li Clinical Education
                      li Practice Management

                  .slide-img.c8
                    //img(src="img/singh-cortes.png")
                .angle.c8
                  img(src="img/white-angles.png")
    main 
      .container
        .cards-outter.c14
          .card.c14(style="border-color: #acc37e;")
            h2.c14 General
              span.c14 Dentists
            p.c14 General dentists are uniquely qualified to identify, diagnose and provide treatment planning for maxillo-mandibular hypoplasia.
            p.c14 The Vivos Integrated Practice initiative provides general dentists the tools, resources and treatment protocols to effectively integrate a breathing wellness specialty into their existing dental practice.
            p.c14 We invite you to learn more about the Integrated Practice opportunities for general dentists.
            a.btn(href="#") Explore
          
          .card.c14(style="border-color: #90aaa2;")
            h2.c14 General
              span.c14 Dentists
            p.c14 General dentists are uniquely qualified to identify, diagnose and provide treatment planning for maxillo-mandibular hypoplasia.
            p.c14 The Vivos Integrated Practice initiative provides general dentists the tools, resources and treatment protocols to effectively integrate a breathing wellness specialty into their existing dental practice.
            p.c14 We invite you to learn more about the Integrated Practice opportunities for general dentists.
            a.btn(href="#") Explore
            
          
          .card.c14(style="border-color: #e4be45;")
            h2.c14 General
              span.c14 Dentists
            p.c14 General dentists are uniquely qualified to identify, diagnose and provide treatment planning for maxillo-mandibular hypoplasia.
            p.c14 The Vivos Integrated Practice initiative provides general dentists the tools, resources and treatment protocols to effectively integrate a breathing wellness specialty into their existing dental practice.
            p.c14 We invite you to learn more about the Integrated Practice opportunities for general dentists.
            a.btn(href="#") Explore
    
    
          .card.c14(style="border-color: #acc37e;")
            h2.c14 General
              span.c14 Dentists
            p.c14 General dentists are uniquely qualified to identify, diagnose and provide treatment planning for maxillo-mandibular hypoplasia.
            p.c14 The Vivos Integrated Practice initiative provides general dentists the tools, resources and treatment protocols to effectively integrate a breathing wellness specialty into their existing dental practice.
            p.c14 We invite you to learn more about the Integrated Practice opportunities for general dentists.
            a.btn(href="#") Explore
          
          .card.c14(style="border-color: #90aaa2;")
            h2.c14 General
              span.c14 Dentists
            p.c14 General dentists are uniquely qualified to identify, diagnose and provide treatment planning for maxillo-mandibular hypoplasia.
            p.c14 The Vivos Integrated Practice initiative provides general dentists the tools, resources and treatment protocols to effectively integrate a breathing wellness specialty into their existing dental practice.
            p.c14 We invite you to learn more about the Integrated Practice opportunities for general dentists.
            a.btn(href="#") Explore
            
          
          .card.c14(style="border-color: #e4be45;")
            h2.c14 General
              span.c14 Dentists
            p.c14 General dentists are uniquely qualified to identify, diagnose and provide treatment planning for maxillo-mandibular hypoplasia.
            p.c14 The Vivos Integrated Practice initiative provides general dentists the tools, resources and treatment protocols to effectively integrate a breathing wellness specialty into their existing dental practice.
            p.c14 We invite you to learn more about the Integrated Practice opportunities for general dentists.
            a.btn(href="#") Explore
    section(style="background: #7eb6c3")
      .container
        h2 Treatment
          strong Planning & Delivery
      
        .two-outter.c5
          .column.c5
            img(src="img/pat-doc.jpg")
          .column.c5
            h4 The Patient Experience
            p(style="color: #4f5051") Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis lorem odio, suscipit vitae consectetur sit amet, efficitur et ipsum. Suspendisse mollis elit quis consequat imperdiet. Mauris mattis quam bibendum dui mattis, in porta est tempor. Praesent non metus ullamcorper, lacinia.
        include ../components/c30-wellness-items/c30.pug
        
        p(style="text-align: center; color: #4f5051") We promote and work with clinicians to develop effective multidisciplinary protocols for the treatment of maxillary hypoplasia and mandibular retrusion - a leading cause of obstructive sleep apnea.
    section()
      .container
        h2 Therapeutic
          strong Protocols
        
        .two-outter.c5
          .column.c5
            h4 Helping doctors help their patients.
            p We work with our network of doctors to develop and implement the very best practices and clinical protocols to help ensure the very best treatment outcomes.
          .column.c5
            img(src="img/mature-doc-review.jpg")
    section(style="background: #acc281")
      .container
        h2 Patient
          strong Education
        
        .two-outter.c5
          .column.c5
            img(src="img/pat-ed.jpg")
            
          .column.c5
            h4 Tools & Resources to Raise Awareness
            p We invest in the development of patient education tools and resources to help clinicians deliver the very best possible care for their patients.
    section
      .container
        .two-outter.c5
          .column.c5
            img(src="img/aire-screen.jpg")
            
          .column.c5
            h4 Every experience is unique.
            p VivosAire™ is a proprietary technology platform and software designed to help facilitate the treatment of breathing wellness conditions. Designed and engineered by top developers to meet the specific needs of clinicians working to follow proper treatment planning and protocols.
            .spacer.c23.s10
            img(src="img/aire.png")
          

        
        include ../components/c30-wellness-items/c30.pug
    section(style="background: #465d6c")
      .container
        h2(style="color: white") Patient
          strong Education
        .two-outter.c5
          .column.c5
            img(src="img/pat-ed.jpg")
            
          .column.c5
            h4(style="color: white") Every experience is unique.
            p(style="color: white") Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis lorem odio, suscipit vitae consectetur sit amet, efficitur et ipsum. Suspendisse mollis elit quis consequat imperdiet. Mauris mattis quam bibendum dui mattis, in porta est tempor. Praesent non metus ullamcorper, lacinia.
    section()
      .container
        .split-ouuter.c37
          .small.c37
            h2 Operatory
              strong Technology Management
            p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis lorem odio, suscipit vitae consectetur sit amet, efficitur et ipsum. Suspendisse mollis elit quis consequat imperdiet. Mauris mattis quam bibendum dui mattis, in porta est tempor. Praesent non metus ullamcorper, lacinia.
          .large.c37
            img.float(src="img/digital-tech-sm.png")
        img(src="img/process.png" style="text-align: center;")
    .divider.c24
    section
      .container
        h2 Patient
          strong Management
          .outter.c32
            // Swiper
            .swiper-container.gallery-top.c32
              .swiper-wrapper.c32
                .swiper-slide.main.c32(id="")
                  .video-block.c32.modal-trigger.c32(style="background-image:url('img/practice-management-coach.jpg'")
                    //img.play-icon.c32(src="img/play-off.png")
                  
                  .content-block.c32
                    h4.c32 Every experience is unique.
                    p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis lorem odio, suscipit vitae consectetur sit amet, efficitur et ipsum. Suspendisse mollis elit quis consequat imperdiet. Mauris mattis quam bibendum dui mattis, in porta est tempor. Praesent non metus ullamcorper, lacinia.

                .swiper-slide.main.c32(id="" style="background: orange")
                .swiper-slide.main.c32(id="" style="background: tan")
                .swiper-slide.main.c32(id="" style="background: aqua")
                .swiper-slide.main.c32(id="" style="background: pink")
                .swiper-slide.main.c32(id="" style="background: white")
                .swiper-slide.main.c32(id="" style="background: black")

            .swiper-container.gallery-thumbs.c32
              .swiper-button-prev.swiper-button-white.c32
                i.fas.fa-chevron-left
              .swiper-wrapper.c32
                .swiper-slide.thumb.c32(style="background: white")
                .swiper-slide.thumb.c32(style="background: orange")
                .swiper-slide.thumb.c32(style="background: tan")
                .swiper-slide.thumb.c32(style="background: aqua")
                .swiper-slide.thumb.c32(style="background: pink")
                .swiper-slide.thumb.c32(style="background: white")
                .swiper-slide.thumb.c32(style="background: black")
              

                
              
              // Add Arrows
              .swiper-button-next.swiper-button-white.c32
                i.fas.fa-chevron-right
     
    include ../components/c2-footer/c2.pug
    // scripts
    include ../global/scripts.pug
    script(src=" components/c32-content-slider/c32.js")
