- var PageTitle = "The Science"
- var template = "content"
include ../global/vars.pug

doctype html
html
  // Head
  include ../global/head.pug

  body#top
    include ../components/c1-nav/c1.pug
    // Content Header
    section.c8.hero-slider
      .swiper-container.c8
        .swiper-wrapper.c8
          // Slide 1
          .swiper-slide.c8(style="background-image: url('img/brightdna.jpg'); background-position: center")
            .overlay.c8(style="background: rgba(1,52,86,0.8)")
              .container.c8
                .slide-outter.c8
                  .slide-inner.c8
                    .v-icon
                      img(src="img/vivos-small-logo.png")
                    h1.c8 The Science of
                      strong Epigenetics in Dentistry
                    .small-border.c36(style="background: #e4be45")
                    p.c8 The Human Genome Project was an international scientific research project with the goal of determining the sequence of nucleotide that make up human DNA. The project was declared complete of April 14, 2003. Four years after the completion of the project in 2007, the journal Science announced that epigenetics was the ‘breakthrough of the year’. In 2009, Time magazine considered it second of the top ten discoveries in 2009.
                    p.c8 The remarkable research and fascinating findings achieved in the early days of the Human Genome Project have impacted life science in immeasurable ways in the decades since its completion.
                    p.c8 At Vivos Therapeutics, our research teams embark on a relentless pursuit to explore the implications and possibilities of applied craniofacial epigenetics.
                  .slide-img.c8
                    img(src="img/cbct.png")
                .angle.c8
                  img(src="img/white-angles.png")
    section
        .container
          .cards-outter.c14
            .card.c14(style="border-color: #acc37e;")
              h2.c14 General
                span.c14 Dentists
              p.c14 General dentists are uniquely qualified to identify, diagnose and provide treatment planning for maxillo-mandibular hypoplasia.
              p.c14 The Vivos Integrated Practice initiative provides general dentists the tools, resources and treatment protocols to effectively integrate a breathing wellness specialty into their existing dental practice.
              p.c14 We invite you to learn more about the Integrated Practice opportunities for general dentists.
              a.btn(href="#") Explore
            
            .card.c14(style="border-color: #90aaa2;")
              h2.c14 General
                span.c14 Dentists
              p.c14 General dentists are uniquely qualified to identify, diagnose and provide treatment planning for maxillo-mandibular hypoplasia.
              p.c14 The Vivos Integrated Practice initiative provides general dentists the tools, resources and treatment protocols to effectively integrate a breathing wellness specialty into their existing dental practice.
              p.c14 We invite you to learn more about the Integrated Practice opportunities for general dentists.
              //a.btn(href="#") Explore
              
            
            .card.c14(style="border-color: #e4be45;")
              h2.c14 General
                span.c14 Dentists
              p.c14 General dentists are uniquely qualified to identify, diagnose and provide treatment planning for maxillo-mandibular hypoplasia.
              p.c14 The Vivos Integrated Practice initiative provides general dentists the tools, resources and treatment protocols to effectively integrate a breathing wellness specialty into their existing dental practice.
              p.c14 We invite you to learn more about the Integrated Practice opportunities for general dentists.
              a.btn(href="#") Explore
          include ../components/c44-diagram/c44.pug
    .divider.c24
    section
      .container
        h2 Articles &
          strong Publications
        include ../components/c45-article-solo/c45.pug
      
      
    include ../components/c2-footer/c2.pug
    // scripts
    include ../global/scripts.pug
    //script(src=" components/c32-content-slider/c32.js")
