- var PageTitle = "Articles & Publications"
- var template = "articles"
include ../global/vars.pug

doctype html
html
  // Head
  include ../global/head.pug

  body#top
    include ../components/c1-nav/c1.pug
    
    // Section
    section
      .container
        h2 Scientific
          strong Articles & Publications
        .small-border.c36(style="background: #465d6c")
        
        include ../components/c42-articles/c42.pug
        
        
    
    
    include ../components/c2-footer/c2.pug
    // scripts
    include ../global/scripts.pug
