- var PageTitle = "Vivos - Breathing Wellness Centers"
- var template = "content"
include ../global/vars.pug

doctype html
html
  // Head
  include ../global/head.pug

  body#top
    include ../components/c1-nav/c1.pug
    // Content Header
    include ../components/c8-hero-slider/c8.pug
    
    section
      .container
        h2 What is
          strong Breathing Wellness
        
        
        // Two Column 
        .two-outter.c5
          .column.c5
            img(src="img/dental meeting.jpg")
            
          .column.c5
            h4 Sleep Apnea
            p Around the world healthcare providers are beginning to pay careful attention to the overall health benefits of healthy breathing. Compromised breathing has been connected to a number of health conditions which can be serious and even life-threatening.
            p Sleep apnea is a potentially serious sleep disorder. People who suffer from this condition stop breathing during sleep.
            
            
            h5 The main types of sleep apnea:
            ul
              li Obstructive Sleep Apnea
              li Central Sleep Apnea
              li Complex Sleep Apnea
            
        
        .spacer.c23.s30
        // Six Coulmn 
        h4(style="text-align: center") Treating your sleep apnea will impact your overall health and vitality.
        .outter.c28
          .column.c28
            img(src="img/myo-profile.jpg" style="margin: 0 auto; display: block")
            h5.c30 Text Goes Here
          .column.c28
            img(src="img/myo-profile.jpg" style="margin: 0 auto; display: block")
            h5.c30 Text Goes Here
          .column.c28
            img(src="img/myo-profile.jpg" style="margin: 0 auto; display: block")
            h5.c30 Text Goes Here
          .column.c28
            img(src="img/myo-profile.jpg" style="margin: 0 auto; display: block")
            h5.c30 Text Goes Here
          .column.c28
            img(src="img/myo-profile.jpg" style="margin: 0 auto; display: block")
            h5.c30 Text Goes Here
          .column.c28
            img(src="img/myo-profile.jpg" style="margin: 0 auto; display: block")
            h5.c30 Text Goes Here
        .spacer.c23.s20
        p.mini(style="text-align: center;") Millions of people who suffer from sleep apnea remain undiagnosed. If you suspect you or someone you love is suffering from sleep apnea, you should consult a physician or a specially-trained dentist.

    .divider.c24
    section(style="background: #e5e5e5")
      .container
        h2(style="text-align: center;") Individuals who suffer from mild-to-moderate sleep apnea and sleep disordered breathing often underestimate its overall impact to their overall health.
        // 3 Column
        .three-outter.c6
          .column.c6
            .circle.c33
              img.c33(src="img/brain.png")
            h3(style="text-align: center") A Healthy Brain
            .line.c34(style="background: white")
            ul
              li Attention Deficit Disorder
              li Attention Deficit Disorder
              li Attention Deficit Disorder
              li Attention Deficit Disorder
              li Attention Deficit Disorder
              li Attention Deficit Disorder
            .line.c34(style="background: #ccc")
          .column.c6
            .circle.c33
              img.c33(src="img/brain.png")
            h3(style="text-align: center") A Healthy Brain
            .line.c34(style="background: white")
            ul
              li Attention Deficit Disorder
              li Attention Deficit Disorder
              li Attention Deficit Disorder
              li Attention Deficit Disorder
              li Attention Deficit Disorder
              li Attention Deficit Disorder
            .line.c34(style="background: #ccc")
          .column.c6
            .circle.c33
              img.c33(src="img/brain.png")
            h3(style="text-align: center") A Healthy Brain
            .line.c34(style="background: white")
            ul
              li Attention Deficit Disorder
              li Attention Deficit Disorder
              li Attention Deficit Disorder
              li Attention Deficit Disorder
              li Attention Deficit Disorder
              li Attention Deficit Disorder
            .line.c34(style="background: #ccc")
        p.mini(style="text-align: center;") Millions of people who suffer from sleep apnea remain undiagnosed. If you suspect you or someone you love is suffering from sleep apnea, you should consult a physician or a specially-trained dentist.

    .divider.c24
    section
      .container
        .spacer.c23.s30
        // 2 Column
        .two-outter.c5
          .column.c5
            // Large Transform
            .large-transform.c35(style="background: #465d6c")
              h1.c35 Normal breathing is silent breathing through your nose. It is quiet and effortless. It allows our bodies to go into normal deep, restorative sleep, and to awake refreshed and ready to take on each new day. Snoring and sleep apnea are not normal breathing patterns, and they are not healthy.
              
          .column.c5
            h4 A Complex Problem
            p Millions suffer from a variety of adverse health conditions which may be the result of interrupted sleep patterns. While lying down, someone with maxillary hypoplasia and mandibular retrusion or an underdeveloped jaw is unable to achieve and sustain good, effective breathing.
            p Correcting the underlying condition may result in better breathing, more restful sleep, and a renewal of healthy vibrant living.
            p Sleep apnea and sleep disordered breathing are a complex problem.
            
            h5 There are a number anatomical factors that may contribute to the condition:
            ul 
              li Maxillary Hypoplasia
              li Mandibular Retrusion or Retrognathia
              li Malalignment of the Atlas-axis Vertebrae
              li Tonsillar Hypertrophy
              li Macroglossia
              li Enlargement/elongation of the soft palate
            h5 There are a number other factors that may contribute to the condition:
            ul 
              li Obesity
              li Neck Circumference
              li Narrow or Obstructed Airway
              li Alcohol Abuse
              li Drug Abuse
              li Sleep Aids or Sedatives
              li Nasal Obstruction or Congestion

      
    .divider.c24
    section(style="background: white")
      .container
        .spacer.c23.s40
        h2(style="text-align: center;") Symptoms of Mild-to-Moderate Sleep Apnea & Sleep Disordered Breathing
        // 4 Column
        .four-outter.c7
          .column.c7
            img(src="img/snoring.jpg" style="margin: 0 auto; text-align: center")
            h5(style="text-align: center") Chronic Snoring
          .column.c7
            img(src="img/snoring.jpg" style="margin: 0 auto; text-align: center")
            h5(style="text-align: center") Chronic Snoring
          .column.c7
            img(src="img/snoring.jpg" style="margin: 0 auto; text-align: center")
            h5(style="text-align: center") Chronic Snoring
          .column.c7
            img(src="img/snoring.jpg" style="margin: 0 auto; text-align: center")
            h5(style="text-align: center") Chronic Snoring
          .column.c7
            img(src="img/snoring.jpg" style="margin: 0 auto; text-align: center")
            h5(style="text-align: center") Chronic Snoring
          .column.c7
            img(src="img/snoring.jpg" style="margin: 0 auto; text-align: center")
            h5(style="text-align: center") Chronic Snoring
          .column.c7
            img(src="img/snoring.jpg" style="margin: 0 auto; text-align: center")
            h5(style="text-align: center") Chronic Snoring
          .column.c7
            img(src="img/snoring.jpg" style="margin: 0 auto; text-align: center")
            h5(style="text-align: center") Chronic Snoring



    
    .divider.c24
        
    section(style="")
      
      .container
        
      // Cards
    
    section
      .container
      // p mini
    
    
    
    
    
    include ../components/c2-footer/c2.pug
    // scripts
    include ../global/scripts.pug

    
      

      
