- var PageTitle = "Kirk Huntsman"
- var template = "result"
include ../global/vars.pug

doctype html
html
  // Head
  include ../global/head.pug

  body#top
    include ../components/c1-nav/c1.pug
    section
      .container
        
            
        
        
    
    
    include ../components/c2-footer/c2.pug
    // scripts
    include ../global/scripts.pug
