.large-transform.c35
  height: 100%
  width: 100%
  //transform: translate(10px, 50px) scale(1.2)
  border-radius: 0px
  padding: 30px
  +border-box
  +flex-center
  position: relative
  margin-bottom: 25px

h1.c35
  color: white
  +thin
  font-size:  24px
  line-height: 28px



@media (min-width: $breakpoint-desktop)
  .large-transform.c35
    //height: 100%
    //width: 100%
    transform: translate(10px, 50px) scale(1.2)
    border-radius: 0px 50px 0px 50px
    //padding: 30px
    //+border-box
    //+flex-center
    //position: relative
    margin-bottom: 0px

    h1.c35
      color: white
      +thin
      font-size:  36px
      line-height: 40px
