if PageTitle == "Vivos - Breathing Wellness Centers"
  section.c8.hero-slider
    .swiper-container.c8
      .swiper-wrapper.c8
        // Slide 1
        .swiper-slide.c8(style="background-image: url('img/dental-chair2.jpg');")
          .overlay.c8
            .container.c8
              .slide-outter.c8
                .slide-inner.c8
                  .v-icon
                    img(src="img/vivos-small-logo.png")
                  h1.c8 It takes vision and courage to combine emerging evidence with potentially life-saving applications.
                  p.c8 We are an evidence-driven healthcare company with a dedicated mission to address obstructive sleep apnea worldwide.
                  p.c8 In the relentless pursuit of our mission, we are developing a global integrated network of skilled clinicians who are focused on delivering state-of-the-art care to their patients.
                  span.c8 It's not what we do - it's who we are.
                .slide-img.c8
                  //img(src="img/singh-cortes.png")
              .angle.c8
                img(src="img/white-angles.png")

      // Add Arrows
      .swiper-button-next.c8
        i.fas.fa-chevron-right
      .swiper-button-prev.c8
        i.fas.fa-chevron-left
      
      // Pagination
        .swiper-pagination.c8
        
else if PageTitle == "Breathing Wellness"
  section.c8.hero-slider
    .swiper-container.c8
      .swiper-wrapper.c8
        // Slide 1
        .swiper-slide.c8(style="background-image: url('img/yoga.jpg'); background-position: top")
          .overlay.c8(style="background: rgba(1,52,86,0.6)")
            .container.c8
              .slide-outter.c8
                .slide-inner.c8
                  //.v-icon
                    img(src="img/vivos-small-logo.png")
                  h1.c8 Introducing the
                    strong Breathing Wellness Movement
                  .small-border.c36(style="background: #e4be45")
                  p.c8 Solving the breathing wellness problem on a global scale could result in significant cost savings across the entire healthcare spectrum. It has the potential to reduce the effects of common chronic health concerns and change the lives of millions of people of all ages who suffer from compromised breathing.

                  p.c8 The Breathing Wellness movement is a concentrated global initiative led by an integrated group of multidisciplinary healthcare providers.

                  p.c8 The movement seeks to raise awareness about the importance of treating specific health conditions which impair normal breathing especially during sleep.


                  //span.c8 It's not what we do - it's who we are.
                .slide-img.c8
                  //img(src="img/singh-cortes.png")
              .angle.c8
                img(src="img/white-angles.png")
