

section.c8.hero-slider
  //height: 70vh
  width: 100%
  position: relative
  overflow: hidden
  padding: 0px 0px
  //margin-top: 80px
  +flex-center
  //background: $blue


.swiper-container.c8
  height: 100%
  width: 100%

.swiper-wrapper.c8
  height: 100%

.swiper-slide.c8
  height: 100%
  position: relative
  +background-fill

.overlay.c8
  height: 100%

.swiper-button-next.c8, .swiper-button-prev.c8
  display: none

.container.c8
  //background: red
  height: 100%
  padding-top: 30px
  position: relative

.slide-outter.c8
  display: flex
  justify-content: space-between
  align-items: center
  flex-direction: column
  flex-flow: wrap
  height: 100%

.slide-inner.c8
  //background: red
  margin-bottom: 40px

.slide-img.c8
  height: 100%
  display: flex
  align-items: flex-end

  img
    max-width: 100%


h1.c8
  font-size: 24px
  line-height: 24px
  color: white
  +light
  strong
    display: block

p.c8
  color: white
  font-size: 15px
  line-height: 21px
  +normal

span.c8
  color: $yellow
  font-size: 15px
  font-weight: 700

.angle.c8
  display: none

@media (min-width: $breakpoint-tablet)
  section.c8.hero-slider
  .overlay.c8
    //background: red

  .slide-outter.c8
    flex-direction: row

  .slide-inner.c8
    

@media (min-width: $breakpoint-desktop)
  section.c8.hero-slider
    height: 600px
    //margin-top: 80px

  .slide-img.c8
    //ackground: red
    flex-grow: 1
  .container.c8
    padding-top: 0px

  .slide-outter.c8
    flex-direction: row
    flex-flow: nowrap

  .slide-inner.c8
    margin-bottom: 0px
    width: 60%
    padding-right: 20px
    max-width: 550px

  h1.c8
    font-size: 35px
    line-height: 35px
    color: white
    +light

  p.c8
    color: white
    font-size: 15px
    line-height: 21px
    +normal

  span.c8
    color: $yellow
    font-size: 15px
    font-weight: 700

  .angle.c8
    position: absolute
    bottom: -5px
    left: 0
    display: block
