.four-outter.c7
  display: flex
  flex-wrap: wrap
  +border-box
  padding: 50px 0px

.column.c7
  width: 100%
  padding: 10px 10px
  +border-box
  //+teal
  //height: 100px
  margin: 2.5% 0px

  img
    margin: 0 auto
    //border: 4px solid red
    display: block

@media (min-width: $breakpoint-desktop)
  .column.c7
    width: 25%
