-
  var navlinks = [
    {
      title: "Breathing Wellness",
      link: "breathing-wellness.html",
    } ,   
    {
      title: "Healthcare Professionals",
      link: "healthcare-proffessionals.html",
    } , 
    {
      title: "Our Approach",
      link: "our-approach.html",
    } , 
    {
      title: "The Science",
      link: "the-science.html",
    } , 
    {
      title: "Our Company",
      link: "company-template.html",
    } ,
    {
      title: "Find A Doctor",
      link: "find-doctor.html",
    } , 
  ];




nav.c1
  .container.c1
    ul.c1
      li.c1#logo
        a.c1.logo(href="index.html")
          img.c1(src="img/logo.svg" alt=company)
      
      .menu.c1#menuIcon
        i.fas.fa-bars
      
      .nav-links.c1#navMobile
        each item in navlinks
          li.c1
            a.nav-link.c1(href=item.link) #{item.title}
      
      
      .nav-modal.c1
        img.modal-trigger.c13(src="img/menu_icon.png" alt="Menu Icon")

        .modal-outter.c13
          .modal.container.c13
            include ../../components/c27-sub-links/c27.pug
              

if template == "home"
  
else if template
  include ../../components/c43-fixed-top/c43.pug
