nav.c1
  background: white
  width: 100%
  height: 80px
  position: fixed
  top: 0
  border-bottom: 1px solid $border
  z-index: 900
  padding-bottom: 20px
  +border-box


.container.c1
  //background: rgba(0,0,0,.14)
  height: 100%
  position: relative

ul.c1
  height: 100%
  padding: 0px
  margin: 0px
  list-style-type: none
  display: flex
  align-items: flex-end
  justify-content: space-between

li.c1#logo
  height: 100%
  display: inline-block

  a.c1.logo
    height: 100%
    display: flex
    align-items: flex-end
    justify-content: flex-start
    img
      height: 45px
      //border-bottom: 1px solid red


li.c1
  display: inline-block
  height: 100%


.menu.c1#menuIcon

.nav-links.c1#navMobile
  display: none

.menu.c1
    display: none

.nav-modal.c1




@media (min-width: $breakpoint-desktop)
  .nav-links.c1#navMobile
    width: auto
    position: relative
    top: 0
    height: 100%
    float: right
    //display: none
    display: inline-block
    background: transparent
    border: none
    //background: red
    padding: 0px
    overflow: initial
    display: flex
    justify-content: center
    align-items: center


  a.nav-link.c1
    font-size: 13px
    font-weight: 600
    color: #4F4F4F
    opacity: 1
    text-decoration: none
    padding-right: 0px
    padding-left: 10px
    +FontColor
    height: 100%
    position: relative
    display: inline-block
    line-height: 10px
    //border-bottom: 1px solid red
    display: flex
    align-items: flex-end

    &:hover
      color: $teal

    &.active
      color: $teal


  .nav-modal.c1
    position: absolute
    right: 0
    top: 25%
