.cards-outter.c14
  .card.c14(style="border-color: #acc37e;")
    h2.c14 General
      span.c14 Dentists
    p.c14 General dentists are uniquely qualified to identify, diagnose and provide treatment planning for maxillo-mandibular hypoplasia.
    p.c14 The Vivos Integrated Practice initiative provides general dentists the tools, resources and treatment protocols to effectively integrate a breathing wellness specialty into their existing dental practice.
    p.c14 We invite you to learn more about the Integrated Practice opportunities for general dentists.
    a.btn(href="#") Explore
  
  .card.c14(style="border-color: #90aaa2;")
    h2.c14 General
      span.c14 Dentists
    p.c14 General dentists are uniquely qualified to identify, diagnose and provide treatment planning for maxillo-mandibular hypoplasia.
    p.c14 The Vivos Integrated Practice initiative provides general dentists the tools, resources and treatment protocols to effectively integrate a breathing wellness specialty into their existing dental practice.
    p.c14 We invite you to learn more about the Integrated Practice opportunities for general dentists.
    a.btn(href="#") Explore
    
  
  .card.c14(style="border-color: #e4be45;")
    h2.c14 General
      span.c14 Dentists
    p.c14 General dentists are uniquely qualified to identify, diagnose and provide treatment planning for maxillo-mandibular hypoplasia.
    p.c14 The Vivos Integrated Practice initiative provides general dentists the tools, resources and treatment protocols to effectively integrate a breathing wellness specialty into their existing dental practice.
    p.c14 We invite you to learn more about the Integrated Practice opportunities for general dentists.
    a.btn(href="#") Explore
