.cards-outter.c14
  display: flex
  align-content: center
  justify-content: flex-start
  flex-wrap: wrap
  //background: red
  margin-bottom: 50px
  //flex: 1

.card.c14
  background: white
  width: 100%
  padding: 30px 20px
  margin: 5% 0%
  +border-box
  border-left: 8px solid
  border-color: $green



h2.c14
  font-size: 25px
  +light
  color: $dark
  line-height: 25px
  letter-spacing: -1px
  span.c14
    +bold
    display: block

p.c14
  font-size: 13px
  color: $text
  line-height: 16px
  margin-bottom: 15px
  &:last-of-type
    margin-bottom: 45px


@media (min-width: $breakpoint-tablet)
  .card.c14
    width: 48%
    margin: 1%

@media (min-width: $breakpoint-desktop)
  .card.c14
    width: 31%
    margin: 1%
