.well-team.c30
  //background: red
  display: flex
  flex-direction: column
  align-items: center
  margin: 10px 0px
  width: 100%

h5.c30
  text-align: center
  margin: 0px
  margin-top: 10px




@media (min-width: $breakpoint-desktop)
  .well-team.c30
    margin: 20px 0px
