-
  var wellTeams = [
    {
      title: "Medical Doctor",
      image: "f-doc-profile.jpg",
    } ,  
    {
      title: "General Dentist",
      image: "dentist-profile.jpg",
    } ,  
    {
      title: "Specialty Dentist",
      image: "special-dentist-profile.jpg",
    } ,  
    {
      title: "Orthogonal Chiropractor",
      image: "chiro-profile.jpg",
    } ,  
    {
      title: "Myofunctional Therapist",
      image: "myo-profile.jpg",
    } ,  
    {
      title: "Nutritionist",
      image: "nutritionis-profile.jpg",
    } ,     
  ];
