.outter.c28
  display: flex
  flex-wrap: wrap
  +border-box


.column.c28
  width: 50%
  padding: 0 10px
  margin-bottom: 20px
  +border-box


@media (min-width: $breakpoint-tablet)
  .column.c28
    width: 33%

@media (min-width: $breakpoint-desktop)
  .column.c28
    width: 16.667%
    padding: 0
    margin-bottom: 0px
